{% if module.background %}
  {% set bgImage = image_filter(module.background, 'section_background') %}
{% endif %}
<!-- Section: Testimonials -->
<section class="divider parallax layer-overlay overlay-blue" {% if module.background %}data-bg-img="{{ bgImage }}"{% endif %}>
  <div class="container">
    {% if module.title or module.description %}
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% if module.title %}
          <h3 class="mb-20 mt-0 text-white line-height-1">{{ module.title }}</h3>
          {% endif %}
          {% if module.description %}
          <div class="text-white">{{ module.description|raw }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial style2 owl-carousel-2col" data-nav="true">
            {% for item in items %}
            <div class="item">
              <div class="testimonial-wrapper bg-white text-center">
                <div class="content p-20 ml-15 mr-15">
                  <div class="lead">{{ item.description|raw }}</div>
                  <h4 class="author mb-0">{{ item.title }}</h4>
                  {# <h5 class="title text-theme-colored mb-15">{{ item.job }}</h5> #}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if link is not null %}
          <div class="text-center">
            <a href="{{ link }}" class="btn btn-lg btn-light text-dark mt-20">Подробнее</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>