

{% block stylesheets %}
  {{ encore_entry_link_tags('slick') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('slick') }}
{% endblock %}

<div class="row">
  <div class="container py-5">

    {# <code>[default template for faq content]</code> #}

    {# {{ dump(module) }} #}
    {# {{ dump(items) }} #}

    {% if module.title %}
    <h3 class="px-3 text-center mb-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3 mb-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

    {# output for items without tags if tabs is not outputed #}
    {% set output = false %}
    {% if items %}
      {% set itemsLength = 0 %}
      {% for child in items if child.enabled %}
        {% set output = true %}
        {% set itemsLength = itemsLength + 1 %}
      {% endfor %}

      {% if output %}
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div id="accordion" class="accordion">
            {% set i = 1 %}
            {% for child in items if child.enabled %}
              <div class="card {% if loop.first %}active{% endif %} {% if itemsLength == 1 %}border-bottom{% endif %}">
                <div class="card-header py-1" id="heading-{{ i }}">
                  <h5 class="mb-0">
                    <button aria-controls="collapse-{{ i }}" aria-expanded="false" class="btn bg-transparent text-left w-100 d-flex align-items-center shadow-none {% if not loop.first %}collapsed{% endif %}" data-target="#collapse-{{ i }}" data-toggle="collapse">
                      <i class="fa fa-angle-{% if not loop.first %}down{% else %}up{% endif %}"></i>
                      <span class="ml-4">{{ child.question }}</span>
                    </button>
                  </h5>
                </div>
                <div aria-labelledby="heading-{{ i }}" class="collapse {% if loop.first %}show{% endif %}" data-parent="#accordion" id="collapse-{{ i }}">
                  <div class="card-body">{{ child.answer|raw }}</div>
                </div>
              </div>
              {% set i = i + 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}


  </div>
</div>

