{% extends 'admin/layout.html.twig' %}

{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{# {% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %} #}

{# {% set easyadmin = form.vars.easyadmin %} #}
{# {% trans_default_domain _entity_config.translation_domain %} #}
{# {% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %} #}

{% set form_id = 'edit-info-form' %}

{% block global_actions %}
    {# {{ dump() }} #}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary action-save" form="{{ form_id }}">
            <span class="btn-label">
                <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
                <span class="label">{{ 'action.save'|trans({}, 'admin') }}</span>
            </span>
        </button>
    </div>
{% endblock %}

{% block main %}
    {# {{request}} #}
        
    {# {{dump(entity)}} #}
    {# {{dump(easyadmin.entity.name)}} #}
    {# {{dump(form)}} #}
    {# {{dump(form_theme)}} #}

    {% block entity_form %}
        


        {% set fields = [] %}

        {% for field in form.children %}

            {% if field.vars.attr is not empty %}

                {% set parent = field.vars.attr.data_parent %}

                {% if attribute(fields, parent) is not defined %}

                    {% set fields = fields|merge({ (parent) : [] }) %}

                {% endif %}

                {% set fields = fields|merge({ 
                    (parent): attribute(fields, parent)|merge({ 1 : field }) 
                }) %}

            {% endif %}

        {% endfor %}

        {# {{dump(fields)}} #}

        {% set basic_info = ['project', 'header', 'footer'] %}
        {% set tabs = { 'basic': [] } %}

        {% for key,val in fields %}


            {% if key in basic_info %}

                {% set tabs = tabs|merge({ 
                    'basic': attribute(tabs, 'basic')|merge({ 1 : val }) 
                }) %}

            {% else %}

                {% set tabs = tabs|merge({ (key) : val }) %}

            {% endif %}

        {% endfor %}

        {# {{dump(tabs)}} #}

        <div class="row">
            <div class="nav-tabs-custom form-tabs col-12 mt-4">
                <ul class="nav nav-tabs col-12 mx-auto m-0">
                    {% for key,val in tabs %}
                        
                        {% set continue = false %}
                        
                        {% if key == 'size' %}
                            {% if not is_granted('ROLE_SUPER_ADMIN') %}
                                {% set continue = true %}
                            {% endif %}
                        {% endif %}

                        {% if not continue %}
                        <li class="nav-item">
                            <a class="nav-link {% if loop.first %}active{% endif %}" href="#_design_element_{{ key }}" id="_design_element_{{ key }}-tab" data-toggle="tab">
                                {{ ('label.info_tab_' ~ key ~ '')|trans({}, 'admin') }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {# info.size.product #}
                {# info.size.product_popup #}

                {{ form_start(form, {'attr': { 'id': form_id }}) }}

                <section class="content-header border-0 p-0">
                    <div class="d-flex flex-row justify-content-between align-content-center w-100">
                        <div class="content-header-title">
                            {# <!--<h1 class="title">{{ (entity.name)|trans }}</h1>--> #}
                        </div>
                    </div>
                </section>

                <div class="tab-content">
                    {# <div id="_easyadmin_form_design_element_0" class="tab-pane active "> #}

                    {% for keyword,value in tabs %}
                        
                        {% set continue = false %}
                        
                        {% if keyword == 'size' %}
                            {% if not is_granted('ROLE_SUPER_ADMIN') %}
                                {% set continue = true %}
                            {% endif %}
                        {% endif %}

                        {% if not continue %}
                            
                        {% set fields = [] %}

                        {% if keyword == 'basic' %}

                            {% for key,val in value %}
                                {# {% set fields = val %} #}
                                {% for field in val %}
                                    {% set fields = fields|merge({ 1 : field }) %}
                                {% endfor %}
                            {% endfor %}

                        {% else %}

                            {% set fields = value %}

                        {% endif %}

                        <div id="_design_element_{{ keyword }}" class="tab-pane {% if loop.first %}active{% endif %} ">
                            
                            <div class="row">
                            <div class="field-group col-12 large">
                            <fieldset>
                            <div class="row">
                            {% for field in fields %}

                                {# {% set info_key = '' %}
                                {% if field.vars.attr is not empty %}
                                    {% set info_key = field.vars.attr.data_parent %}
                                {% endif %} #}

                                {# {{dump(field)}} #}
                                <div class="col-12 {% if keyword == 'size' %}col-sm-4{% endif %}">
                                {% if field.vars.type is defined and field.vars.type == 'file' %}

                                    <div class="form-group  field-{{ field.vars.type }}">
                                        {{ form_label(field) }}
                                        {{ form_errors(field) }}
                                        <div class="form-widget">
                                            {{ form_widget(field) }}

                                            {% if field.vars.data %}
                                            <div class="d-flex align-items-end">
                                                <a href="#" class="easyadmin-thumbnail easyadmin-vich-image" data-featherlight="#easyadmin-lightbox-{{ loop.index }}" data-featherlight-close-on-click="anywhere">
                                                    <img src="{{ asset(media_images ~ '/' ~ field.vars.data) }}" class="img-fluid easyadmin-image">
                                                </a>
                                                <div class="form-check ml-2 mb-2">        
                                                    <input type="checkbox" id="form_{{ field.vars.name }}-delete" name="form[delete][{{ field.vars.name }}]" class="form-check-input" value="1">
                                                    <label class="form-check-label m-0" for="form_{{ field.vars.name }}-delete">{{ 'label.delete'|trans({}, 'admin') }}</label>
                                                </div>


                                                <div id="easyadmin-lightbox-{{ loop.index }}" class="easyadmin-lightbox">
                                                    <img src="{{ asset(media_images ~ '/' ~ field.vars.data) }}">
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {{ form_help(field) }}
                                    </div>

                                {% else %}

                                    {{ form_row(field) }}

                                {% endif %}
                                </div>

                            {% endfor %}
                            </div>
                            </fieldset>
                            </div>
                            </div>

                        </div>
                        {% endif %}

                    {% endfor %}
                </div>

                {{ form_row(form._token) }}

                {{ form_end(form) }}
            </div>
        </div>


        

    {% endblock entity_form %}
    



    

{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    
<script type="text/javascript">
$(document).ready(function() {
    


});
</script>
{% endblock %}