{% extends 'admin/layout.html.twig' %}

{% block main %}


    {% block entity_form %}

    {{ form_start(form) }}
    <div class="row">

    	<div class="col-12">
    		{{ form_row(form.username) }}
    	</div>
    	<div class="col-12">
    		{{ form_row(form.fullname) }}
    	</div>

    </div>
    {{ form_end(form) }}

    {% endblock entity_form %}
{% endblock %}
