{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">

    <div class="row justify-content-center">
      <div class="col-4">
        {% if app.user %}
        <div class="row mb-3">
          <div class="container-fluid text-center">
            {% trans %}You are logged in as{% endtrans %} <span class="font-italic bg-light px-1">{{ app.user.username }}</span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <a href="{{ path('app_logout') }}" class="btn btn-sm btn-block px-5 btn-secondary">{% trans %}Logout{% endtrans %}</a>
          </div>
        </div>
        {% endif %}

        {% if not app.user %}
        <form method="post">
          {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          

          <h1 class="h3 mb-3 font-weight-normal text-center">{% trans %}Please sign in{% endtrans %}</h1>

          <div class="form-group">
            <label for="inputEmail">{% trans %}Email address{% endtrans %}</label>
            <input type="email" name="email" value="{{ last_username }}" class="form-control form-control-sm" id="inputEmail" aria-describedby="emailHelp" required autofocus>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" class="form-control form-control-sm" id="inputPassword" required>
          </div>

        {# 
          Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
          See https://symfony.com/doc/current/security/remember_me.html
          
          <div class="form-group form-check">
            <input type="checkbox" name="_remember_me" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
         #}

          <button class="btn btn-sm btn-block px-5 btn-primary" type="submit">
            Sign in
          </button>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
        {% endif %}
      </div>
    </div>

  </div>
</section>
{% endblock %}
