{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">
    

    {% if categories %}
    <div class="row mb-4">
      {% for item in categories if item.enabled %}
      {% set href = urlizer.url([slug_router.slug, item.slug]) %}
      <div class="col-3 mb-4">
        <div class="image text-center w-100">
          <a href="{{ href }}">
            <img src="{{ image_filter(item.image, 'service') }}" class="img-fluid border rounded shadow-sm" alt="{{ item.title }}">
          </a>
        </div>
        <h2 class="h5 font-weight-normal d-flex align-items-center mt-3">
          <span class="w-100"><a href="{{ href }}">{{ item.title }}</a></span> 
          {# {% if item.service|length %}
          <small class="text-secondary flex-shrink-1">{{ item.service|length }}</small>
          {% endif %} #}
        </h2>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if paginator.numResults %}
    <div class="row mb-4">
      {% for item in paginator.results %}
      {% set href = urlizer.url([slug_router.slug, item.slug]) %}
        
      <div class="col-3 mb-4">
        <div class="image text-center w-100">
          <a href="{{ href }}">
            <img src="{{ image_filter(item.image, 'service') }}" class="img-fluid border rounded shadow-sm" alt="{{ item.title }}">
          </a>
        </div>
        <h2 class="h5 font-weight-normal d-flex align-items-center mt-3">
          <span class="w-100"><a href="{{ href }}">{{ item.title }}</a></span> 
        </h2>
      </div>
      {% else %}
      {# <div class="col">{{ 'item.no_items_found'|trans }}</div> #}
      {% endfor %}

    </div>
    {% endif %}



    {% if paginator and paginator.hasToPaginate %}
    <div class="row mb-4">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if paginator.hasPreviousPage %}
            <li class="page-item prev"><a href="{{ url(_route, {slug: slug_router.slug, page: paginator.previousPage}) }}" class="page-link" rel="previous"><i class="fa fw fa-arrow-left"></i> Previous</a></li>
            {% else %}
            <li class="page-item prev disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i> Previous</span></li>
            {% endif %}

            {% for i in 1..paginator.lastPage %}
              {% if i == paginator.currentPage %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
              <li class="page-item"><a href="{{ url(_route, {slug: slug_router.slug, page: i}) }}" class="page-link">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginator.hasNextPage %}
            <li class="page-item next"><a href="{{ url(_route, {slug: slug_router.slug, page: paginator.nextPage}) }}" class="page-link" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
            {% else %}
            <li class="page-item next disabled"><span class="page-link">Next <i class="fa fw fa-arrow-right"></i></span></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}
    


    {% if page %}
    <div class="row mb-4">
      <div class="col">
        {# {% if page.image %}
        <img src="{{ image_filter(page.image, 'page') }}" class="img-fluid float-sm-left rounded mb-4 mr-4" alt="{{ page.title }}">
        {% endif %} #}
        {{ page.description|raw }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}