{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('photoswipe') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('photoswipe') }}
{% endblock %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">

    <div class="row">
      <div class="col-4">
        {% set thumbnail_class = 'thumbnails' %}
        <ul class="nav {{ thumbnail_class }}">
          <li class="nav-item text-center col-12 px-1 mb-2">
            <a class="thumbnail" href="{{ image_filter(item.image, 'service_popup') }}" data-width="{{ info.size.width_service_popup ?? null }}" data-height="{{ info.size.height_service_popup ?? null }}" data-caption="{{ item.title }}">
              <img src="{{ image_filter(item.image, 'service_show') }}" class="img-fluid border rounded" alt="{{ item.title }}">
            </a>
          </li>
          {% set i = 1 %}
          {% for image in item.images %}
          <li class="nav-item text-center col-sm-3 mb-2">
            <a class="thumbnail" href="{{ image_filter(image.image, 'product_popup') }}" data-width="{{ info.size.width_product_popup ?? null }}" data-height="{{ info.size.height_product_popup ?? null }}" data-caption="{{ image.title ?? item.title }}">
              <img src="{{ image_filter(image.image, 'product_show') }}" class="img-fluid border rounded" alt="{{ image.title }}">
            </a>
          </li>
            {% set i = i + 1 %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-2">{{ item.title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ item.summary }}
          </div>
        </div>
        {# <div class="row">
          <div class="col-12">
            <b>Price:</b> {{ item.price|number_format(2, '.', ',') }} $
          </div>
        </div> #}
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-12">
        {% autoescape %}
          {{ item.description|raw }}
        {% endautoescape %}
        
      </div>
    </div>


    {% include 'default/includes/_product.html.twig' with { 'class' : thumbnail_class } %}


  </div>
</section>
{% endblock %}