{% set modules = slug_router.landingPage.module %}
{% if modules is defined and modules.count > 0 %}
	{% set load = false %}
	{% set items %}
		{% for item in modules if item.position == 4 and item.enabled %}
			{% set load = true %}
			{{ render(controller('App\\Controller\\Module\\' ~ item.name|capitalize ~ 'Controller::index', {
			  'slug_router': slug_router,
			  'module': item,
			})) }}
		{% endfor %}
	{% endset %}

	{% if load %}
	<section>
	  <div class="container-fluid">
	  	{{ items }}
	  </div>
	</section>
	{% endif %}
{% endif %}