{# {% block breadcrumb %}
<div class="row border-bottom">
  <div class="container">
    <div class="row py-1">
      <div class="col-12" style="opacity:0.8">
        {{ wo_render_breadcrumbs() }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
 #}
{# see config\packages\white_october_breadcrumbs.yaml #}
{# {{ dump(breadcrumbs) }} #}
{% block breadcrumb %}
<div class="row border-bottom">
  <div class="container">
    <div class="row py-1">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb font-italic bg-transparent p-0 my-0">
            <li class="breadcrumb-item font-size-sm"><a href="{{ app.request.getSchemeAndHttpHost() }}" class="text-secondary">{{ 'title.homepage'|trans|lower }}</a></li>
            {% for item in breadcrumbs %}
            {% if loop.last %}
            <li class="breadcrumb-item font-size-sm active" aria-current="page">{{ item.text|lower }}</li>
            {% else %}
            <li class="breadcrumb-item font-size-sm"><a href="{{ item.url }}" class="text-secondary">{{ item.text|lower }}</a></li>
            {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}