<ul class="nav justify-content-end font-size-xs font-weight-semibold text-uppercase">
  {% for item in pages if item.bottom  %}
  <li class="nav-item">
    {% set href = urlizer.url([item.slug]) %}
    <a href="{{ href }}" class="nav-link text-muted"><span>{{ item.title }}</span></a>
  </li>
  {% endfor %}
</ul>