{% block meta_keyword %}{{ page.metaKeyword ?? null }}{% endblock %}
{% block meta_description %}{{ page.metaDescription ?? null }}{% endblock %}
{% block meta_title %}{{ page.metaTitle ?? null }}{% endblock %}

{% block canonical %}
{# @param page - pagination number #}
{% if slug_router is defined and slug_router.slug is not empty %}
<link rel="canonical" href="{{ url('slug', { slug: slug_router.lastSlug, page: app.request.query.get('page') }) }}">
{% else %}
{# <link rel="canonical" href="{{ url(_route, { page: app.request.query.get('page') }) }}"> #}
{% endif %}
{% endblock %}