<div class="row">
  <div class="container-fluid">
    <h5 class="h5 text-uppercase">Меню</h5>

    <hr class="mt-3 mb-4">
    <ul class="list-group">
      {% for item in pages if item.bottom and item.parent is null %}
      <li class="list-group-item bg-transparent border-0 py-1 px-0 {% if slug_router.landingPage is not null and slug_router.landingPage.slug == item.slug %} active{% endif %}">
        {% set href = urlizer.url([item.slug]) %}
        <a class="" href="{{ href }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>