<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-inner collapse navbar-collapse justify-content-start" id="navbarNav">
    <ul class="navbar-nav">
      {% for item in pages if item.top and item.parent is null %}
        {% set dropdown = false %}
        {% if item.children.count > 0 %}
          {% set dropdown = true %}
        {% endif %}
        <li class="nav-item{% if dropdown %} dropdown dropdown-hover{% endif %}{% if slug_router.landingPage is not null and slug_router.landingPage.slug == item.slug %} active{% endif %}">
          {% set href = urlizer.url([item.slug]) %}
          <a href="{{ href }}" class="nav-link text-uppercase{% if dropdown %} dropdown-toggle{% endif %}"{% if dropdown %} aria-expanded="false"{% endif %}><span>{{ item.title }}{% if dropdown %} <i class="fa fa-angle-down"></i>{% endif %}</span></a>
          {% if dropdown %}
          <div class="dropdown-menu shadow-sm m-0">
            {% for child in item.children if child.top %}
              {% set href = urlizer.url([child.slug]) %}
              <a class="dropdown-item text-normal" href="{{ href }}">{{ child.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>

{# {{ dump(pages) }} #}