{% block title %}
<div class="row border-bottom">
  <div class="container">
    <div class="row py-1">
      <div class="col-12">
        <h1 class="h5 my-2">
          {# for landing pages #}
          {# {% if slug_router is not defined or slug_router.slug is empty %} #}
          {# {{ dump(slug_router) }} #}
          {# {% if slug_router.findedSlug is not null %} #}
          {{ page.title }}
          {# {% endif %} #}

          {# for list pages #}
          {# {% if category is defined and slug_router is defined and slug_router.slug is not empty %}
          {{ category.title }}
          {% endif %} #}

          {# for show pages #}
          {# {% if item is defined %}
          {{ item.title }}
          {% endif %} #}
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}