{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% block body %}
{% if page.image or page.description %}
<section class="position-relative">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">

      	{# <div id="dump">
      		{{ dump(modules2) }}
          {% for items in modules2 %}
            {{ dump(items) }}
            {% for item in items %}
              {{ dump(item) }}
            {% endfor %}
          {% endfor %}
      	</div> #}
        {% if page.image %}
        <img src="{{ image_filter(page.image, 'page') }}" class="img-fluid float-sm-left rounded mb-4 mr-4" alt="{{ page.title }}">
        {% endif %}

        {{ page.description|raw }}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
