{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">

      	<div id="dump">

          {% if data %}
            {{ dump(data) }}
          {% endif %}

            {# {{ dump(info) }} #}
            {# {{ inf.info.sitename }} #}
            {# {{ inf.info.email }} #}
      		

{# 
          {% for key,val in data %}
            {{ dump(val) }}

            {% for k,v in val %}
              {{ dump(v) }}
            {% endfor %}
          {% endfor %}
 #}

      	</div>

      </div>
    </div>
  </div>
</section>
{# 
<script type="text/javascript">
  $(function(){
    $('.sf-dump>samp>.sf-dump-toggle,.sf-dump>samp>.sf-dump-str-collapse').trigger('click');
  });
</script>
 #}
{% endblock %}
