

{% block stylesheets %}
  {{ encore_entry_link_tags('photoswipe') }}
  {{ encore_entry_link_tags('isotope') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('photoswipe') }}
  {{ encore_entry_script_tags('isotope') }}
{% endblock %}

<div class="row">
  <div class="container-fluid py-5">

    {# <code>[gallery_with_tabs template for gallery content]</code> #}

    {# {{ dump(module) }} #}
    {# {{ dump(items) }} #}

    {% if module.title %}
    <h3 class="px-3 text-center mb-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3 mb-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

    {% set outputTabs = false %}
    <div id="{{ itemsId }}" class="row mb-4">
      {% set thumbnail_class = 'gallery-with-tabs' %}

      <div class="container-fluid {{ thumbnail_class }}">

        <ul class="nav justify-content-center mx-auto mb-4 gallery-filter js-filter">
          {% if categories|length > 0 %}
            <li class="active"><a href="#" class="btn btn-sm btn-primary px-5 mx-1" data-filter=".all">{{ 'label.all'|trans }}</a></li>
          {% endif %}
          {% set i = 1 %}

          {% for item in categories if item.gallery.count > 0 %}
            <li><a href="#" data-filter=".cat{{ item.id }}" class="btn btn-sm btn-outline-primary px-5 mx-1">{{ item.title }}</a></li>
            {% set i = i + 1 %}
          {% endfor %}
        </ul>

        <div class="row">
          <div class="container-fluid">
            <div class="row gallery-list js-gallery">
              <div class="gallery-sizer col-sm-2 py-3"></div>

              {% for item in items %}
              <div class="gallery-item col-sm-2 py-3 all {% if item.gtag is not null %}cat{{ item.gtag.id }}{% endif %}">
                <div class="grid-item-content">
                  <a href="{{ image_filter(item.image, 'gallery_popup') }}" data-original-width="{{ info.size.width_gallery_popup ?? null }}" data-original-height="{{ info.size.height_gallery_popup ?? null }}" data-caption="{{ item.title }}">
                    <img src="{{ image_filter(item.image, 'gallery', runtimeConfig) }}" class="img-fluid border rounded shadow-sm" alt="{{ item.title }}">
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>

    {% include 'default/includes/_photoswipe.html.twig' %}

<script type="text/javascript">
(function($) {
  // console.log(typeof(isotope));
    var $gallery = $('#{{ itemsId }} .js-gallery');
    var $filter  = $('#{{ itemsId }} .js-filter');
    var $isotope = $gallery.isotope({
        itemSelector: '.gallery-item',
        percentPosition: true,
        masonry: {
          columnWidth: '.gallery-sizer'
        },
        filter: filter,
      });

    $gallery.imagesLoaded().progress( function() {
      $isotope.isotope('layout');
      // $gallery.addClass('show');
    });

    var filter  = '.all';
    var items = [];
    var options = {
        getThumbBoundsFn: function(index) {
            var _img  = $gallery.find(filter).eq(index).find('img')[0];
            var _rect = _img.getBoundingClientRect();
            var _scroll = window.pageYOffset || document.documentElement.scrollTop;
            return {x:_rect.left, y:_rect.top + _scroll, w:_rect.width};
        },
    };
    
    // Generate PID (Use for history)
    $gallery.find('.gallery-item').each(function(i, el) {
      var index = i+1; // Do this fo
        var $link = $(el).find('a');
      $link.attr('data-pid', index);
    });
  
    // Update Items on loaded
    updateItems(filter);
  
    // Bind click event to a tag for get index then open Gallery
    $gallery.on('click', 'a', function(event) {
        event.preventDefault();
        
        options.index = $(this).parent('.gallery-item').index(filter);
        openGallery(items, options);
    });
  
    // Bind click event to a tag for filter gallery by isotope then update items object
    $filter.on('click', 'a', function(event) {
      event.preventDefault();
        
        filter = this.dataset.filter;
        $isotope.isotope({
          itemSelector: '.gallery-item',
          percentPosition: true,
          masonry: {
            columnWidth: '.gallery-sizer'
          },
          filter: filter,
        });
        // var $isotope = new Isotope( $gallery[0], {
        //   // layoutMode: 'cellsByRow',
        //   itemSelector: '.gallery-item',
        //   filter: filter
        // });
        updateItems(filter);
        
        $(this).parent().siblings().find('.btn-primary').addClass('btn-outline-primary').removeClass('btn-primary');
        $(this).removeClass('btn-outline-primary').addClass('btn-primary');
    });
    
    // Open image from hash
    if (window.location.hash) {
        var hash = window.location.hash;
        var params = hash.split('&');
        var pid;
        params.forEach(function(el, i) {
            var param = el.split('=');
            if (param[0] === 'pid') {
                pid = param[1];
            }
        });
        options.index = Number(pid - 1);
        openGallery(items, options);
    }
  
    // Open gallery with items object and options
    function openGallery(items, options) {
        var markup = $('.pswp').get(0);
        var gallery = new PhotoSwipe( markup, PhotoSwipeUI_Default, items, options);
        gallery.init();
    }
  
    // Update items object with filter select by class
    function updateItems(selector) {
        items = [];
        $gallery.find(selector).each(function(idx, el) {
            var _link = $(el).find('a').get(0);
            var source  = _link.href;
            var width = _link.dataset.originalWidth;
            var height  = _link.dataset.originalHeight;
            var caption = _link.dataset.caption;
            var pid   = _link.dataset.pid;
            var item  = {
                src: source,
                w: width,
                h: height,
                title: caption,
                msrc: source,
                pid: pid,
            }
            // console.log(item);
            items.push(item);
        });
    }
})(jQuery);
</script>
  </div>
</div>

