@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";


@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_forms";

// @import "~bootstrap/scss/bootstrap-grid";

:root {
    /* make the backend contents as wide as the browser window */
    // --body-max-width: 100%;
    /* change the background color of the <body> */
    // --body-bg: #f5f5f5;
    /* make the base font size smaller */
    // --font-size-base: 13px;
    /* remove all border radius to make corners straight */
    // --border-radius: 0px;
}

body {
    min-height: 960px;
}

.content-header .content-header-title {
    display: none;
}
.tab-pane.tab-module .content-header-title {
    display: block;
}

.content-header-location {
    align-self: center;
    flex: 1;
}

.form-widget textarea.form-control {
	max-width: inherit!important;
}
.large textarea.form-control,
.field-group .large textarea.form-control {
    height: 80px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-dark);
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    margin-bottom: 0;
}

.easyadmin-vich-image img, img.easyadmin-image {
    max-height: 100px!important;
    max-width: 100px!important;
    margin: 0!important;
    box-shadow: initial;
}

.easyadmin-vich-image-inner {
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    margin: 6px 4px 12px;
    background-color: #fff;
    box-shadow: 0 0 0 4px var(--white),0 0 4px 3px var(--gray-600);

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
}

.select-two-columns .form-check {
    width: 50%;
    float: left;
}

.select-two-columns .form-widget {
    padding: 10px 15px !important;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgba(43,45,80,.16), 0 0 0 1px rgba(6,122,184,0), 0 0 0 2px rgba(6,122,184,0), 0 1px 1px rgba(0,0,0,.08);
}

.field-group > fieldset {
    height: 100%;
}

.large .select2-selection {
    max-width: 100%;
}

.out-form-tabs {
    .nav-tabs {
        margin: -2px 0px 0px;
    }
    .temp {
        .nav-tabs-custom {
            .nav-tabs {
                margin: 20px -20px 20px;
                background-color: transparent;
            }
        }
    }
}

.form-actions .btn {
    min-width: 164px;
}

#out-form-tabs {
    .hide-in-ajax {
        display: none;
    }
}
.module-counter {
    .hide-in-counter {
        display: none;
    }
}

.datagrid tr:last-child>td {
    border-top: 1px solid #dee2e6;
    border-bottom: 0;
}

// collection-images

.collection-images {
    >.field-collection {
        padding: 0;

        >legend {
            display: none;
        }

        >.form-widget {
            flex: 0 0 100%;

            >.form-widget-compound {
                >div {
                    >.form-group {
                        border-bottom: var(--border-width) var(--border-style) var(--border-color);
                        padding: 20px 0;
                    }
                }
            }
        }

        .field-collection-item-row {
            display: flex;
            width: 100%;

            >.form-widget-compound {
                flex: 0 0 98%;

                >div {
                    display: flex;
                    width: 100%;

                    .form-group {
                        flex: 0 0 33%;
                        padding: 0;

                        >div {
                            align-self: flex-start;
                        }

                        label,legend {
                            flex: 100% 0 0;
                            text-align: left;
                        }
                    }
                }
            }

            >.field-collection-item-action {
                flex: 0 0 2%;
            }
        }
    }

    >.field-collection-action {
        margin: 0;
    }
}

.collection-faqs {
    .form-group label {
        text-align: left;
    }
    .field-collection {
        padding: 0;

        >legend {
            display: none;
        }
        >.form-widget {
            flex: 0 0 100%;
            
            >.form-widget-compound {
                >div {
                    >.form-group {

                        .field-collection-item-row {
                            position: relative;
                        }
                        .field-collection-item-action {
                            position: absolute;
                            top: 2px;
                            right: 0;
                        }
                        &:not(:first-child) {
                            border-top: var(--border-width) var(--border-style) var(--border-color);
                        }
                    }
                }
            }
        }
    }
    .form-widget-compound {
        .form-group .form-widget {
            margin: 0;
        }
    }
}

.tab-module .form-help {
    color: var(--text-muted);
    display: inline-block;
    font-size: var(--font-size-sm);
    margin-bottom: 0;
    margin-top: 4px;
}

.tab-content>form>.tab-pane {
    display: none;
}
.tab-content>form>.active {
    display: block;
}
.tab-content>.tab-pane.tab-module {
    margin: -36px 0 0;
}

#gtag_gallery {
    .form-group.field-gallery {
        .form-widget-compound {
            >div {
                .form-group {
                    padding: 0 5px;
                }
                .field-image {
                    flex: 0 0 20%;
                }
                .field-title {
                    flex: 0 0 40%;
                }
                .field-sort {
                    flex: 0 0 10%;
                }
                .field-enabled {
                    flex: 0 0 10%;
                }
                .field-special {
                    flex: 0 0 10%;
                }
            }
        }
    }
}
.field-collection.field-gallery,.field-collection.field-faq {
    border-top: var(--border-width) var(--border-style) var(--border-color);
}

.field-checkbox .form-check-input {
    width: 20px;
    height: 20px;
}

.datagrid {
    th {
        .batch-actions {
            &>form[name=batch_form] {
                display: block;
                padding: 2px;
                text-align: right;

                .batch-action-requires-confirmation {

                }
                .btn {
                    margin: 0;
                }
            }

            .deselect-batch-button {
                display: none;
            }
            .modal .btn span.btn-label {
                padding: 0;
                color: inherit;
            }
            .modal-footer {
                padding: 15px 20px;
                .btn {
                    margin: 0;
                    padding: 6px 10px;
                }
                >:not(:last-child) {
                    margin-right: .25rem;
                }
            }
        }
    }
}


.module-items {
    th {
        .batch-actions {
            display: block !important;
        }
    }
}