// Custom variables for bootstrap
// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;
$primary: #3465a4 !default;
$secondary: #292929 !default;

@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

// :root {
//   --primary: #3465a4;
//   --darken: #232323;
//   --pastel-green: #d0e1ca;
//   --pastel-blue: #a3ccf4;
//   --pastel-1: #bebcc1;
//   --pastel-2: #d6ccd0;
//   --pastel-3: #c3b0ba;
//   --pastel-4: #f4f6f5;
//   --pastel-5: #efc0d2;
//   --pastel-6: #bed3c3;
//   --pastel-7: #a5d9e2;
//   --pastel-8: #d0e1ca;
//   --pastel-9: #a3ccf4;
// }


/**
 * Responsive
 */

@include media-breakpoint-up(xl) {
  body>section {
    min-height: 800px;
  }
}

@include media-breakpoint-between(md, lg) {
  body>section {
    min-height: 460px;
  }
}