// .gallery {
//     // max-width: 1000px;
//     // margin-left: auto;
//     // margin-right: auto;
//     &-filter {
//         // display: flex;
//         // justify-content: center;
//         // flex-wrap: wrap;
//         // list-style: none;
//         // margin: 0 0 1rem;
//         // padding: 1rem 0;
//         a {
//             // display: inline-block;
//             // padding: .5rem 1rem;
//             // text-decoration: none;
//         }
//         .active a {
//             // border-bottom: 1px solid currentColor;
//         }
//     }
//     &-list {
//         // list-style: none;
//         // margin: -5px;
//         // padding: 0;
//     }
//     &-item {
//         // float: left;
//         // width: 33.33%;
//         // padding: 5px;
//         img {
//             // display: block;
//         }
//     }
// }