body {
  line-height: 1.6;
}

main {
  display: flex !important;

  >section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    &.content {
      flex-grow: 3;
    }
  }
  >aside {
    flex-basis: 25%;
    flex-shrink: 0; 
    // flex-shrink: 0; prevents the aside from shrinking, if the section attempts to grow due to its content. (see third example) 
    
    // Instead of flex-basis: 150px; and flex-shrink: 0; you can use the shorthand: 
    /* flex: 0 0 25%; */
  }
}

.font-size-xs {
  font-size: 0.75rem !important; // 12px
}
.font-size-sm {
  font-size: 0.875rem !important; // 14px
}
.font-size-md {
  font-size: 1rem !important; // 16px
}
.font-size-lg {
  font-size: 1.125rem !important; // 18px
}
.font-size-lg-x {
  font-size: 1.5rem !important; // 24px
}
.font-size-lg-xx {
  font-size: 2rem !important; // 32px
}

.line-height-xs {
  line-height: 1;
}

.line-height-sm {
  line-height: 1.2;
}

.line-height-md {
  line-height: 1.6;
}

.line-height-lg {
  line-height: 1.8;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.font-weight-semibold {
  font-weight: 500 !important;
}

.slick-prev:before, .slick-next:before {
    color: inherit !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-silver-light {
  background-color: #F7F8FA !important;
}
.bg-darken {
  background-color: var(--darken);
}
.bg-gradient-white {
  background-image: -webkit-radial-gradient(50%, circle, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(50%, circle, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(circle at 50%, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}
.bg-gradient-white2 {
  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.50) 99%, rgba(0,0,0,0) 100%);
}
.bg-image {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: scroll;
  background-clip: border-box;
}


body>header {
  .logo a {
    img {
      max-height: 56px;
    }
    span {
      // font-style: italic;
      font-weight: 700;
      color: var(--dark);
      transition: color ease-in-out .2s;
    }
    &:hover span {
      color: var(--darken);
    }
  }
  .navbar {
    .navbar-nav {
      .nav-item {
        .dropdown-toggle {
          &::after {
            display: none;
          }
        }
      }
    }
    .navbar-collapse {
      li {
        position: relative;
        &:not(:last-child):after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: var(--light);
          border-radius: 100%;
          position: absolute;
          right: 0;
          top: 50%;
          margin: -2px;
        }
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            font-weight: 600;
            padding: .5rem 1rem;
            color: var(--gray-dark);
            // color: var(--light);
            letter-spacing: .0625rem;
            transition: color ease-in-out .2s;
          }
          &:not(.active) .nav-link {
            color: var(--gray-dark);
          }
          &:hover,&.active {
            .nav-link {
              color: var(--primary);
              // color: #fff;
            }
          }
        }
      }
    }
  }
}

body>footer {
  .logo {
    img {
      max-height: 16px;
    }
  }
}

.list-group {
  .list-group-item {
    >.row > a {
      color: var(--secondary);
    }
    &.active {
      >.row > a {
        color: var(--primary);
      }
    }
    &:last-child {
      border-bottom: 0 !important;
    }
  }
}

.slick-prev.text-dark:before,
.slick-next.text-dark:before {
    color: var(--dark); 
}




