{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">
    
    {# {{dump(faqs)}} #}

    {% macro tabContent(items, class, i) %}

      <div class="tab-pane fade {{ class }}" id="tabs-{{ i }}" role="tabpanel" aria-labelledby="tabs-tab{{ i }}">
        <div id="accordion{{ i }}" class="accordion">
          {% set j = 1 %}
          {% for child in items if child.enabled %}
          <div class="card {% if j == 1 %}active{% endif %} {% if items|length == 1 %}border-bottom{% endif %}">
            <div class="card-header py-1" id="heading-{{ i }}{{ j }}">
              <h5 class="mb-0">
                <button aria-controls="collapse-{{ i }}{{ j }}" aria-expanded="false" class="btn bg-transparent text-left w-100 d-flex align-items-center shadow-none {% if i != 1 %}collapsed{% endif %}" data-target="#collapse-{{ i }}{{ j }}" data-toggle="collapse">
                  <i class="fa fa-angle-{% if not loop.first %}down{% else %}up{% endif %}"></i>
                  <span class="ml-4">{{ child.question }}</span>
                </button>
              </h5>
            </div>
            <div aria-labelledby="heading-{{ i }}{{ j }}" class="collapse {% if j == 1 %}show{% endif %}" data-parent="#accordion{{ i }}" id="collapse-{{ i }}{{ j }}">
              <div class="card-body">{{ child.answer|raw }}</div>
            </div>
          </div>
            {% set j = j + 1 %}
          {% endfor %}
        </div>
      </div>

    {% endmacro %}

    {% set outputTabs = false %}

    {# if faq tags exists #}
    {% if categories %}
    <div class="row mb-4">

      <div class="col-12 mb-4">


        <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
          {% set i = 1 %}
          
          {% set selected = 'true' %}
          {% set class = 'active' %}
          {% for item in categories if item.faq.count > 0 %}
            {% set outputTab = false %}
            {% for child in item.faq if child.enabled %}
              {% set outputTab = true %}
              {% set outputTabs = true %}
            {% endfor %}

            {% if outputTab %}
              {% if i != 1 %}
                {% set selected = 'false' %}
                {% set class = '' %}
              {% endif %}

              <li class="nav-item">
                <a class="nav-link {{ class }}" id="tabs-tab{{ i }}" data-toggle="tab" href="#tabs-{{ i }}" role="tab" aria-controls="tabs-{{ i }}" aria-selected="{{ selected }}">{{ item.title }}</a>
              </li>

              {% set i = i + 1 %}
            {% endif %}
          {% endfor %}

          {% if faqs and outputTabs %}
            {% set outputTab = false %}
            {% for child in faqs if child.enabled %}
              {% set outputTab = true %}
            {% endfor %}

            {% if outputTab %}
            <li class="nav-item">
              <a class="nav-link" id="tabs-tab{{ i }}" data-toggle="tab" href="#tabs-{{ i }}" role="tab" aria-controls="tabs-{{ i }}" aria-selected="{{ selected }}">{{ 'label.others'|trans }}</a>
            </li>
            {% endif %}

          {% endif %}

        </ul>




        <div class="tab-content" id="tabs-tabContent">

          {% set i = 1 %}
          {% set class = 'show active' %}
          {% for item in categories if item.faq.count > 0 %}
            {% set outputTab = false %}
            {% for child in item.faq if child.enabled %}
              {% set outputTab = true %}
              {% set outputTabs = true %}
            {% endfor %}

            {% if outputTab %}
              {% if i != 1 %}
                {% set class = '' %}
              {% endif %}

              {{ _self.tabContent(item.faq, class, i) }}

              {% set i = i + 1 %}
            {% endif %}
          {% endfor %}



          {# output for faqs without tags if tabs is outputed #}
          {% if faqs and outputTabs %}
            {{ _self.tabContent(faqs, class, i) }}
          {% endif %}

        </div>
        
      </div>

    </div>
    {% endif %}









    {# output for faqs without tags if tabs is not outputed #}
    {% set output = false %}
    {% if faqs and not outputTabs %}
      {% set faqsLength = 0 %}
      {% for child in faqs if child.enabled %}
        {% set output = true %}
        {% set faqsLength = faqsLength + 1 %}
      {% endfor %}

      {% if output %}
      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div id="accordion" class="accordion">
            {% set i = 1 %}
            {% for child in faqs if child.enabled %}
              <div class="card {% if loop.first %}active{% endif %} {% if faqsLength == 1 %}border-bottom{% endif %}">
                <div class="card-header py-1" id="heading-{{ i }}">
                  <h5 class="mb-0"><button aria-controls="collapse-{{ i }}" aria-expanded="false" class="btn bg-transparent text-left w-100 d-flex align-items-center shadow-none {% if not loop.first %}collapsed{% endif %}" data-target="#collapse-{{ i }}" data-toggle="collapse">{{ child.question }}</button></h5>
                </div>
                <div aria-labelledby="heading-{{ i }}" class="collapse {% if loop.first %}show{% endif %}" data-parent="#accordion" id="collapse-{{ i }}">
                  <div class="card-body">{{ child.answer|raw }}</div>
                </div>
              </div>
              {% set i = i + 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}









    {% if page %}
    <div class="row mb-4">
      <div class="col">
        {% if page.image %}
        <img src="{{ image_filter(page.image, 'page') }}" class="img-fluid float-sm-left rounded mb-4 mr-4" alt="{{ page.title }}">
        {% endif %}
        
        {{ page.description|raw }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}