{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}
{% use 'admin/form/elfinder_widget.html.twig' %}


{% block item_actions %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans(domain = _translation_domain), '%entity_label%': easyadmin.entity.label|trans(domain = _translation_domain) } %}

    {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
    <button type="submit" class="btn btn-primary action-save">
        <span class="btn-label">{{ 'action.save'|trans({}, 'admin') }}</span>
    </button>

    {% set _entity_actions = (easyadmin.view == 'new')
        ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
        : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

    {% set _entity_id = (easyadmin.view == 'new')
        ? null
        : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

    {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

    {% set actionsTemplate = '@EasyAdmin/default/includes/_actions.html.twig' %}
    {% if app.request.query.get('editType') is not null and app.request.query.get('editType') == 'ajax' %}
        {% set actionsTemplate = 'admin/default/includes/_actions.html.twig' %}
    {% endif %}

    {{ include(actionsTemplate, {
        actions: _entity_actions,
        entity_config: easyadmin.entity,
        request_parameters: _request_parameters,
        translation_domain: _translation_domain,
        trans_parameters: _trans_parameters,
        item_id: _entity_id,
        item: easyadmin.item
    }, with_context = false) }}
{% endblock item_actions %}

{% block vich_image_widget %}
    <div class="easyadmin-vich-image">
        {% if image_uri|default('') is not empty %}
            {% if download_uri|default('') is empty %}
                <div class="easyadmin-thumbnail">
                    <img style="cursor: initial" src="{{ asset(image_uri) }}">
                </div>
            {% else %}
                {% set _lightbox_id = 'easyadmin-lightbox-' ~ id %}

                <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ _lightbox_id }}" data-featherlight-close-on-click="anywhere">
                    <img src="{{ asset(download_uri) }}">
                </a>

                <div id="{{ _lightbox_id }}" class="easyadmin-lightbox">
                    <img src="{{ asset(download_uri) }}">
                </div>
            {% endif %}
        {% endif %}

        {% set file_upload_js %}
            var newFile = document.getElementById('{{ form.file.vars.id ~ easyadmin.item.id }}').files[0];
            var fileSizeInMegabytes = newFile.size > 1024 * 1024;
            var fileSize = fileSizeInMegabytes ? newFile.size / (1024 * 1024) : newFile.size / 1024;
            document.getElementById('{{ form.file.vars.id ~ easyadmin.item.id }}_new_file_name').innerText = newFile.name + ' (' + fileSize.toFixed(2) + ' ' + (fileSizeInMegabytes ? 'MB' : 'KB') + ')';
        {% endset %}
        {# {{dump(form.file.vars.id)}} #}
        {# {{dump(id)}} #}
        {# {{dump(form.file.vars)}} #}
        {# {{dump(form.parent.children.delete.vars.id)}} #}
        {# {{dump(easyadmin.item.id)}} #}
        <div class="easyadmin-vich-image-actions">
            {# the container element is needed to allow customizing the <input type="file" /> #}
            <div class="btn btn-secondary input-file-container">
                <i class="fa fa-fw fa-upload"></i> {{ 'action.choose_file'|trans({}, 'admin') }}
                {{ form_widget(form.file, { 'id': form.file.vars.id ~ easyadmin.item.id, 'attr': { 'onchange': file_upload_js }, vich: true}) }}
            </div>

            {% if form.delete is defined %}
                {# {{dump(form.delete.vars.id)}} #}
                {{ form_row(form.delete, { label: 'form.label.delete'|trans({}, 'admin'), 'id': form.delete.vars.id ~ easyadmin.item.id }) }}
            {% endif %}
        </div>
        <div class="small" id="{{ form.file.vars.id ~ easyadmin.item.id }}_new_file_name"></div>
    </div>
{% endblock %}