{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}


{% block item_actions %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans(domain = _translation_domain), '%entity_label%': easyadmin.entity.label|trans(domain = _translation_domain) } %}

    {% set _entity_actions = (easyadmin.view == 'new')
        ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
        : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

    {% set _entity_id = (easyadmin.view == 'new')
        ? null
        : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

    {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

    {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
    <button type="submit" class="btn btn-primary action-save" form="{{ form.vars.attr.id }}">
        <span class="btn-label">{{ 'action.save'|trans({}, 'admin') }}</span>
    </button>

    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
        actions: _entity_actions,
        entity_config: easyadmin.entity,
        request_parameters: _request_parameters,
        translation_domain: _translation_domain,
        trans_parameters: _trans_parameters,
        item_id: _entity_id,
        item: easyadmin.item
    }, with_context = false) }}
{% endblock item_actions %}


{% block form_row -%}
    {# {{ dump() }} #}
    {% set _field_type = easyadmin.field.fieldType|default('default') %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }} field-{{ name }} ">
        {{- form_label(form) -}}
        <div class="form-widget">
            {% set has_prepend_html = easyadmin.field.prepend_html|default(null) is not null %}
            {% set has_append_html = easyadmin.field.append_html|default(null) is not null %}
            {% set has_input_groups = has_prepend_html or has_append_html %}

            {% if has_input_groups %}<div class="input-group">{% endif %}
                {% if has_prepend_html %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ easyadmin.field.prepend_html|raw }}</span>
                    </div>
                {% endif %}

                {{- form_widget(form) -}}

                {% if has_append_html %}
                    <div class="input-group-append">
                        <span class="input-group-text">{{ easyadmin.field.append_html|raw }}</span>
                    </div>
                {% endif %}
            {% if has_input_groups %}</div>{% endif %}

            {% if _field_type in ['datetime', 'datetime_immutable', 'date', 'date_immutable', 'dateinterval', 'time', 'time_immutable', 'birthday'] and easyadmin.field.nullable|default(false) %}
                <div class="nullable-control">
                    <label>
                        <input type="checkbox" {% if data is null %}checked="checked"{% endif %}>
                        {{ 'label.nullable_field'|trans({}, 'admin')}}
                    </label>
                </div>
            {% endif %}

            {% if easyadmin.field.help|default(form.vars.help) != '' %}
                <small class="form-help">{{ easyadmin.field.help|default(form.vars.help)|trans(domain = form.vars.translation_domain)|raw }}</small>
            {% endif %}

            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block vich_image_widget %}
    <div class="easyadmin-vich-image">
        {% if image_uri|default('') is not empty %}
            {% if download_uri|default('') is empty %}
                <div class="easyadmin-thumbnail">
                    <img style="cursor: initial" src="{{ asset(image_uri) }}">
                </div>
            {% else %}
                {% set _lightbox_id = 'easyadmin-lightbox-' ~ id %}

                <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ _lightbox_id }}" data-featherlight-close-on-click="anywhere">
                    <img src="{{ asset(download_uri) }}">
                </a>

                <div id="{{ _lightbox_id }}" class="easyadmin-lightbox">
                    <img src="{{ asset(download_uri) }}">
                </div>
            {% endif %}
        {% endif %}

        {% set file_upload_js %}
            var newFile = document.getElementById('{{ form.file.vars.id }}').files[0];
            var fileSizeInMegabytes = newFile.size > 1024 * 1024;
            var fileSize = fileSizeInMegabytes ? newFile.size / (1024 * 1024) : newFile.size / 1024;
            document.getElementById('{{ form.file.vars.id }}_new_file_name').innerText = newFile.name + ' (' + fileSize.toFixed(2) + ' ' + (fileSizeInMegabytes ? 'MB' : 'KB') + ')';
        {% endset %}

        <div class="easyadmin-vich-image-actions">
            {# the container element is needed to allow customizing the <input type="file" /> #}
            <div class="btn btn-secondary input-file-container">
                <i class="fa fa-fw fa-upload"></i> {{ 'action.choose_file'|trans({}, 'admin') }}
                {{ form_widget(form.file, { 'attr': { 'onchange': file_upload_js }, vich: true}) }}
            </div>

            {% if form.delete is defined %}
                {{ form_row(form.delete, { label: 'form.label.delete'|trans({}, 'admin') }) }}
            {% endif %}
        </div>

        {# 1. add pcategory and other sizes in fixtures #}
        {# 2. create imageType field for substitute image sizes and use them in all entities #}
                
                {# {{ dump(form.parent.vars.data.module.width2) }} #}

        {# {% set entityName = form.file.vars.easyadmin.entity.name|lower %} #}
        {% set entityName = attr.entity ?? null %}

        {% if entityName is not null %}
	        {% set entityName = entityName|lower %}

	        	{# {{ dump(form.file.vars.easyadmin.entity.form.fields.imageFile) }} #}
	        	{# {{ dump(form.file.vars.type) }} #}
	        	{# {{ dump(attr.entity) }} #}
	        	{# {{ dump(entityName) }} #}
	        	{# {{ dump(entityName) }} #}

                {# {{ dump(form) }} #}

	        {% set width_popup = info.size['width_' ~ entityName ~ '_popup'] ?? null %}
	        {% set height_popup = info.size['height_' ~ entityName ~ '_popup'] ?? null %}

	        	
	        {% set width_show = info.size['width_' ~ entityName ~ '_show'] ?? null %}
	        {% set height_show = info.size['height_' ~ entityName ~ '_show'] ?? null %}

	        	
	        {% set width_default = info.size['width_' ~ entityName] ?? null %}
	        {% set height_default = info.size['height_' ~ entityName] ?? null %}

                
            {% set width_module = form.parent.vars.data.module.width2 ?? null %}
            {% set height_module = form.parent.vars.data.module.height2 ?? null %}

        	{% set width = 0 %}
        	{% set height = 0 %}

            {% if (width_default is not null and height_default is not null) and (width_default > 0 and height_default > 0) %}
	        	{% set width = width_default %}
	        	{% set height = height_default %}
	        {% endif %}

            {% if (width_show is not null and height_show is not null) and (width_show > 0 and height_show > 0) %}
	        	{% set width = width_show %}
	        	{% set height = height_show %}
	        {% endif %}

            {% if (width_popup is not null and height_popup is not null) and (width_popup > 0 and height_popup > 0) %}
	        	{% set width = width_popup %}
	        	{% set height = height_popup %}
	        {% endif %}

            {% if (width_module is not null and height_module is not null) and (width_module > 0 and height_module > 0) %}
                {% set width = width_module %}
                {% set height = height_module %}
            {% endif %}

	        <small class="form-help"> 
	        	{{ 'label.info_image_size'|trans({
	        		'%width%': width,
	        		'%height%': height,
	        	}, 'admin') }} 
	        </small>

	        {# {{ dump(form.file.vars.easyadmin.entity.form.fields.imageFile.help) }} #}

        {% endif %}

        <div class="small" id="{{ form.file.vars.id }}_new_file_name"></div>
    </div>
{% endblock %}