{% block elfinder_widget %}
{# {{dump()}} #}

    {% set image_uri = image_placeholder %}

    {% if value is defined and value is not empty %}
        {% set image_uri = value %}
    {% endif %}

    {% if easyadmin.item.id is defined %}
        {% set id = id ~ '_' ~ easyadmin.item.id %}
    {% endif %}

    {# {{dump(id)}} #}

    <div class="d-none">
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} data-type="elfinder-input-field" class="border-0 mb-1 px-2">
    </div>

    <div class="easyadmin-vich-image">
        {% set _thumb_id = 'easyadmin-thumb-' ~ id %}
        {% set _popup_id = 'easyadmin-popup-' ~ id %}
        {% set _lightbox_id = 'easyadmin-lightbox-' ~ id %}

        <div class="easyadmin-vich-image-inner">
            <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ _lightbox_id }}" data-featherlight-close-on-click="anywhere">
                <img src="{{ asset(image_uri) }}" id="{{ _thumb_id }}">
            </a>
        </div>

        <div id="{{ _lightbox_id }}" class="easyadmin-lightbox">
            <img src="{{ asset(image_uri) }}" id="{{ _popup_id }}">
        </div>
    </div>

    <div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="input-file-container-{{ id }}" class="btn btn-primary">
                <i class="fa fa-fw fa-plus"></i>
                {{ 'action.add'|trans({}, 'admin') }}
            </button>
            <button type="button" id="input-make-empty-{{ id }}" class="btn btn-danger">
                <i class="fa fa-fw fa-remove"></i>
                {{ 'action.delete'|trans({}, 'admin') }}
            </button>
        </div>
    </div>

    {% if enable and instance is defined %}
        <script type="text/javascript" charset="utf-8">

            var inputImage_{{ id }} = document.getElementById('{{ id }}');
            var imageThumb_{{ id }} = document.getElementById('easyadmin-thumb-{{ id }}');
            var imagePopup_{{ id }} = document.getElementById('easyadmin-popup-{{ id }}');
            var image_placeholder = '{{ image_placeholder }}';
            
            // live('click', '[data-type="elfinder-input-field"][id="{{ id }}"], #input-file-container-{{ id }}', function (event) {
            live('click', '#input-file-container-{{ id }}', function (event) {
                console.warn('Test');
                var childWin = window.open("{{path('elfinder', {'instance': instance, 'homeFolder': homeFolder })}}?id={{ id }}", "popupWindow", "height=450, width=900");
            });
            function live (eventType, elementQuerySelector, cb) {
                document.addEventListener(eventType, function (event) {
                    var qs = document.querySelectorAll(elementQuerySelector);
                    if (qs) {
                        var el = event.target, index = -1;
                        while (el && ((index = Array.prototype.indexOf.call(qs, el)) === -1)) {
                            el = el.parentElement;
                        }
                        if (index > -1) {
                            cb.call(el, event);
                        }
                    }
                })
            }
            function setValue(value, element_id) {
                document.querySelector('[data-type="elfinder-input-field"]' + (element_id ? '[id="'+ element_id +'"]': '')).value = value;
                // imageThumb_{{ id }}.src = value;
                // imagePopup_{{ id }}.src = value;
                document.getElementById('easyadmin-thumb-' + element_id).src = value;
                document.getElementById('easyadmin-popup-' + element_id).src = value;
                // console.log('[data-type="elfinder-input-field"]' + (element_id ? '[id="'+ element_id +'"]': ''));
                // console.log('{{ id }}');
                // console.log(element_id);
            }
            live('click', '#input-make-empty-{{ id }}', function (event) {
                inputImage_{{ id }}.value = null;
                imageThumb_{{ id }}.src = image_placeholder;
                imagePopup_{{ id }}.src = image_placeholder;
                // console.log(inputImage);
            });
        </script>
    {% endif %}

    {% set entityName = form.vars.attr.entity ?? null %}

    {% if entityName is null %}
        {% set entityName = form.vars.easyadmin.entity.name %}
    {% endif %}

    {% if entityName == 'Module' %}
        {% set entityName = null %}
    {% endif %}

    {# {{ dump(easyadmin.item.id) }} #}
    
    {% if entityName is not null %}
        {% set entityName = entityName|lower %}

        {% set width_popup = info.size['width_' ~ entityName ~ '_popup'] ?? null %}
        {% set height_popup = info.size['height_' ~ entityName ~ '_popup'] ?? null %}

            
        {% set width_show = info.size['width_' ~ entityName ~ '_show'] ?? null %}
        {% set height_show = info.size['height_' ~ entityName ~ '_show'] ?? null %}

            
        {% set width_default = info.size['width_' ~ entityName] ?? null %}
        {% set height_default = info.size['height_' ~ entityName] ?? null %}

            
        {% set width_module = form.parent.vars.data.module.width2 ?? null %}
        {% set height_module = form.parent.vars.data.module.height2 ?? null %}

        {% set width = 0 %}
        {% set height = 0 %}

        {% if (width_default is not null and height_default is not null) and (width_default > 0 and height_default > 0) %}
            {% set width = width_default %}
            {% set height = height_default %}
        {% endif %}

        {% if (width_show is not null and height_show is not null) and (width_show > 0 and height_show > 0) %}
            {% set width = width_show %}
            {% set height = height_show %}
        {% endif %}

        {% if (width_popup is not null and height_popup is not null) and (width_popup > 0 and height_popup > 0) %}
            {% set width = width_popup %}
            {% set height = height_popup %}
        {% endif %}

        {% if (width_module is not null and height_module is not null) and (width_module > 0 and height_module > 0) %}
            {% set width = width_module %}
            {% set height = height_module %}
        {% endif %}

        <small class="form-help"> 
            {{ 'label.info_image_size'|trans({
                '%width%': width,
                '%height%': height,
            }, 'admin') }} 
        </small>

    {% endif %}

{% endblock %}
