{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% use 'admin/form/bootstrap_4.html.twig' %}


{% block head_stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('admin') }}
{% endblock %}


{% block body_javascript %}
{{ parent() }}
{{ encore_entry_script_tags('admin') }}
{% endblock %}


{% block global_actions_wrapper %}


	<div class="content-header-location">
		{# {{ dump() }} #}
		{# {{ dump(app.request) }} #}

		{% set _request_params = [] %}

		{% set _request_params = _request_params|merge({ 'entity': app.request.query.get('entity') }) %}
		{% set _request_params = _request_params|merge({ 'action': 'list' }) %}
		{% set _request_params = _request_params|merge({ 'menuIndex': app.request.query.get('menuIndex') }) %}
		{% set _request_params = _request_params|merge({ 'submenuIndex': app.request.query.get('submenuIndex') }) %}
		{% set _request_params = _request_params|merge({ 'sortField': app.request.query.get('sortField') }) %}
		{% set _request_params = _request_params|merge({ 'sortDirection': app.request.query.get('sortDirection') }) %}
		{% set _request_params = _request_params|merge({ 'page': app.request.query.get('page') }) %}

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-transparent p-0 my-0">
				<li class="breadcrumb-item font-size-sm">
					<a href="{{ path( 'easyadmin' ) }}" class="text-uppercase font-weight-bold">
						{{ 'Home'|trans({}, 'admin') }}
					</a>
				</li>

				<li class="breadcrumb-item font-size-sm">
				{% if app.request.attributes.get('_route') == 'easyadmin' %}
					{% if entity is defined %}
					<a href="{{ path( 'easyadmin', _request_params ) }}" class="text-uppercase font-weight-bold">
						{{ _entity_config.label|trans({}, 'admin') }}
					</a>
					{% else %}
					<span class="text-uppercase font-weight-bold text-danger">
						{{ _entity_config.label|trans({}, 'admin') }}
					</span>
					{% endif %}
				{% elseif app.request.attributes.get('_route') == 'admin_info_index' %}
					<span class="text-uppercase font-weight-bold text-danger">
						{{ 'Information'|trans({}, 'admin') }}
					</span>
				{% endif %}
				</li>

				{% if app.request.attributes.get('_route') == 'easyadmin' %}
					{% if entity is defined %}
						{% set _entity_title = 'label.wo_title' %}
						{% if entity.title is defined and entity.title is not empty %}
							{% set _entity_title = entity.title %}
						{% elseif entity.question is defined %}
							{% set _entity_title = entity.question %}
						{% elseif entity.email is defined %}
							{% set _entity_title = entity.email %}
						{% endif %}
					<li class="breadcrumb-item font-size-sm active" aria-current="page">
						<span class="text-uppercase font-weight-bold text-danger">
							{{ _entity_title|trans({}, 'admin') }}{% if _entity_id is defined %} (#{{ _entity_id }}){% endif %}
						</span>
					</li>
					{% endif %}
				{% endif %}
			</ol>
		</nav>
	</div>

	{{ parent() }}
	
{% endblock %}

{% block global_actions %}
	{# {{ dump() }} #}

	{% if form.vars.easyadmin is defined %}
		{% set easyadmin = form.vars.easyadmin %}

		<div class="form-actions">
			{{- block('item_actions') -}}
		</div>
	{% endif %}
{# 
	{% set _translation_domain = _entity_config.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  _entity_config.name|trans(domain = _translation_domain), '%entity_label%': _entity_config.label|trans(domain = _translation_domain) } %}

	<div class="form-actions">
		{% if form.vars.attr.id is defined %}
		<button type="submit" class="btn btn-primary action-save" form="{{ form.vars.attr.id }}">
	        <span class="btn-label">{{ 'action.save'|trans(_trans_parameters, _translation_domain) }}</span>
	    </button>
		{% endif %}

		{% set actions = _entity_config.edit.actions %}
		{% set request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

		{% for action in actions %}
		    {% if 'list' == action.name %}
		        {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
		    {% elseif 'method' == action.type %}
		        {% set action_href = path('easyadmin', request_parameters|merge({ action: action.name, id: _entity_id })) %}
		    {% elseif 'route' == action.type %}
		        {% set action_href = path(action.name, request_parameters|merge({ action: action.name, id: _entity_id })) %}
		    {% endif %}


		    {{ include(_entity_config.templates.action, {
		        action: action,
		        action_href: action_href,
		        is_dropdown: is_dropdown|default(false),
		        item: entity,
		        item_id: _entity_id,
		        request_parameters: request_parameters,
		        translation_domain: _translation_domain,
		        trans_parameters: _trans_parameters,
		    }, with_context = false) }}
		{% endfor %}
	</div> #}


	{{ parent() }}
{% endblock %}