{% if args.items is defined %}
  {% set items = args.items %}
  {% set currItem = null %}
  {% if args.currItem is defined %}
    {% set currItem = args.currItem %}
  {% endif %}
<div class="row mb-4">
  <div class="col-12">
    <ul class="list-group list-group-flush tree rounded overflow-hidden m-0">
      {% for item in items %}
      {% set href = urlizer.url([slug_router.slug, item.slug]) %}

      <li class="list-group-item  rounded-0 p-0 m-0 container-fluid col-12 {% if not loop.first %}border-top{% endif %} {% if item is same as(currItem) %}bg-secondary{% else %}bg-primary{% endif %}">
          <div class="row align-items-center justify-content-end m-0">
              <a href="{{ href }}" class="py-2 px-4 d-flex align-items-center col-12 h-100 text-decoration-none {% if item is same as(currItem) %}text-white{% else %}text-white{% endif %}">
                  <span class="w-100">{{ item.title }} </span> 
              </a>
          </div>
      </li>
      {% else %}
      {# <div class="col">{{ 'item.no_items_found'|trans }}</div> #}
      {% endfor %}
      
    </ul>
  </div>
</div>
{% endif %}
