{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-8">

        {% if paginator.numResults %}
        <div class="row mb-4">
          {% for item in paginator.results %}
          {% set href = urlizer.url([slug_router.slug, item.slug]) %}

          <div class="col-12 mb-4">
            <div class="image text-center border w-100">
              <a href="{{ href }}">
                <img src="{{ image_filter(item.image, 'action') }}" class="img-fluid" alt="{{ item.title }}">
              </a>
            </div>
            <div class="border border-top-0 m-0 py-3 px-3">
              <h2 class="h5 font-weight-normal text-uppercase ">
                <span class="w-100"><a href="{{ href }}">{{ item.title }}</a></span> 
              </h2>
              
              <div>
                  {{ item.summary }}
              </div>
              
              <div class="mt-3">
                  <a href="{{ href }}" class="text-danger font-weight-bold">{{ 'label.readmore'|trans }}</a>
              </div>
            </div>
          </div>
          {% else %}
          {# <div class="col">{{ 'item.no_items_found'|trans }}</div> #}
          {% endfor %}

        </div>
        {% endif %}



        {% if paginator and paginator.hasToPaginate %}
        <div class="row mb-4">
          <div class="col">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                <li class="page-item prev"><a href="{{ url(_route, {slug: slug_router.slug, page: paginator.previousPage}) }}" class="page-link" rel="previous"><i class="fa fw fa-arrow-left"></i> Previous</a></li>
                {% else %}
                <li class="page-item prev disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i> Previous</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                  {% if i == paginator.currentPage %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  <li class="page-item"><a href="{{ url(_route, {slug: slug_router.slug, page: i}) }}" class="page-link">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                <li class="page-item next"><a href="{{ url(_route, {slug: slug_router.slug, page: paginator.nextPage}) }}" class="page-link" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                <li class="page-item next disabled"><span class="page-link">Next <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        {% endif %}



        {% if page %}
        <div class="row mb-4">
          <div class="col">
            {# {% if page.image %}
            <img src="{{ image_filter(page.image, 'page') }}" class="img-fluid float-sm-left rounded mb-4 mr-4" alt="{{ page.title }}">
            {% endif %} #}
            {{ page.description|raw }}
          </div>
        </div>
        {% endif %}

      </div>

      {% set args = [] %}
      {% set args = args|merge({ 'items' : items }) %}
        
      <div class="col-md-4">
        {% include 'action/_items.html.twig' with { args: args } %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
