{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{# {{ encore_entry_link_tags('photoswipe') }} #}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# {{ encore_entry_script_tags('photoswipe') }} #}
{% endblock %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-8">

        <div class="row">
          {% if item.image %}
          <div class="col-12">
            <img src="{{ image_filter(item.image, 'action_show') }}" class="img-fluid border rounded" alt="{{ item.title }}">
          </div>
          {% endif %}
          <div class="col-12">
            <h2 class="h5 font-weight-bold text-uppercase my-3">
              <span class="w-100">{{ item.title }}</span> 
            </h2>
            {% autoescape %}
              {{ item.description|raw }}
            {% endautoescape %}

          </div>
        </div>

      </div>

      {% set args = [] %}
      {% set args = args|merge({ 'items' : items }) %}
      {% set args = args|merge({ 'currItem' : item }) %}
        
      <div class="col-md-4">
        {% include 'action/_items.html.twig' with { args: args } %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
