
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key.yandex_map }}&lang=ru_RU" type="text/javascript"></script>

<script src="https://www.google.com/recaptcha/api.js?render={{ api_key.recaptcha_site }}"></script>

{% block stylesheets %}
  {{ encore_entry_link_tags('photoswipe') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('photoswipe') }}
{% endblock %}

<div class="row">
  <div class="container py-5">

    {# <code>[multiple template for contact content]</code> #}

    {# {{ dump(module) }} #}

    {% if module.title %}
    <h3 class="px-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set items = module.contact %}
    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

    {% set thumbnail_class = 'thumbnails' %}
    <div class="row {{ thumbnail_class }}">
      {% set coords = false %}
      {% for item in items %}
        {% if item.coords is not empty %}
          {% set coords = true %}
        {% endif %}
      <div class="col-sm-4">
        <div class="card h-100">
          {% if item.title %}
          <div class="card-header">
            <h4 class="h5 m-0">{{ item.title }}</h4>
          </div>
          {% endif %}
          <div class="card-body p-0">
            <ul class="list-group list-group-flush h-100">
              {# <li class="list-group-item"><i class="fa fa-home text-primary mr-2"></i> {{ item.title }}</li> #}
              {% if item.address %}
              <li class="list-group-item"><i class="fa fa-map-marker-alt text-primary mr-2"></i> {{ item.address }}</li>
              {% endif %}
              {% if item.phone1 %}
              <li class="list-group-item"><i class="fa fa-phone fa-flip-horizontal text-primary mr-2"></i> {{ item.phone1 }}</li>
              {% endif %}
              {% if item.phone2 %}
              <li class="list-group-item"><i class="fa fa-phone fa-flip-horizontal text-primary mr-2"></i> {{ item.phone2 }}</li>
              {% endif %}
              {% if item.phone3 %}
              <li class="list-group-item"><i class="fa fa-phone fa-flip-horizontal text-primary mr-2"></i> {{ item.phone3 }}</li>
              {% endif %}
              {% if item.email %}
              <li class="list-group-item"><i class="fa fa-envelope text-primary mr-2"></i> {{ item.email }}</li>
              {% endif %}
              {% if item.image %}
              <li class="list-group-item">
                <a class="thumbnail" href="{{ image_filter(item.image, 'contact_popup') }}" data-width="{{ info.size.width_contact_popup ?? null }}" data-height="{{ info.size.height_contact_popup ?? null }}" data-caption="{{ item.title }}">
                  <img src="{{ image_filter(item.image, 'contact', runtimeConfig) }}" class="img-fluid border rounded" alt="{{ item.title }}">
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% include 'default/includes/_product.html.twig' with { 'class' : thumbnail_class } %}

  </div>
</div>

{% if coords %}
<div class="row">
  <div class="w-100">
    <div id="map" style="width: 100%; height: 600px"></div>

    <script type="text/javascript">
// Экземпляр Яндекс карт
var myMap;

// Выполняем наш код, когда API загружен - ymaps.ready()
ymaps.ready(function(){
  // Коллекция гео-точек, добавленных на карту
  var myCollection = new ymaps.GeoObjectCollection();
  // Помещаем карту в элемент DIV с id, равным «map»
  myMap = new ymaps.Map("map", {
    center: [50, 50], // Начальные значения центра карты
    zoom: 15,         // Начальное значение зума карты
    controls: ['zoomControl']
  });

  // Перебираем в цикле точки, которые надо добавить на карту
  {% for item in items if item.coords is not empty %}
    var myPlacemark{{ loop.index }} = new ymaps.Placemark([{{ item.coords }}], {
        {% if item.title %}
        balloonContent: '{{ item.title|raw }}',
        balloonContentHeader: '{{ item.title|raw }}',
        {% endif %}
        {% if item.address %}
        balloonContentBody: '{{ item.address }}',
        {% endif %}
        {% if item.phone1 or item.phone2 or item.phone3 %}
        balloonContentFooter: '<em><i class="fa fa-phone fa-flip-horizontal text-primary mr-1"></i> {{ item.phone1 }}{% if item.phone2 %}<br><i class="fa fa-phone fa-flip-horizontal text-primary mr-1"></i> {{ item.phone2 }}{% endif %}{% if item.phone3 %}<br><i class="fa fa-phone fa-flip-horizontal text-primary mr-1"></i> {{ item.phone3 }}{% endif %}</em>',
        {% endif %}
        {% if item.title %}
        hintContent: '{{ item.title|raw }}',
        iconCaption: '{{ item.title|raw }}',
        {% endif %}
      }, {
        preset: 'islands#dotIcon',
        iconColor: '#007bff',
      },
    );

  // Не забываем добавить точку в коллекцию -
  //  впоследствии мы добавим всю коллекцию на карту
  myCollection.add(myPlacemark{{ loop.index }});
  {% endfor %}

  // Добавляем точки на карту
  myMap.geoObjects.add( myCollection ); 
  // Вычисляем необходимые координаты краёв карты и
  //  устанавливаем их для нашего экземпляра карты  
  myMap.setBounds( myCollection.getBounds(),{zoomMargin: 20} );
});

  </script>
  </div>
</div>
{% endif %}

{% if form is defined and api_key.recaptcha_site is defined %}
<div class="row bg-light">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card shadow-md">
          <div class="card-header">
            <h4 class="h5 text-center m-0">Обратная связь</h4>
          </div>
          <div class="card-body">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                  <div class="alert alert-{{ label }}" role="alert">
                    {{ message|trans }}
                  </div>
                {% endfor %}
            {% endfor %}

            {% set form_id = 'feedback' %}
            {{ form_start(form, {'attr': { 'id': form_id }}) }}

                {{ form_row(form.credential) }}

                {{ form_row(form.email) }}

                {{ form_row(form.message, { attr: { rows: 5 } }) }}

                {{ form_row(form.submit, { attr: { class: 'btn btn-primary mx-auto d-block px-5' } }) }}



                <style type="text/css">
                  .form_terms { 
                    font-size: 0.625rem !important;
                  }
                  .grecaptcha-badge {
                    visibility: hidden !important;
                  }
                </style>
                <div class="form-group form_terms text-center text-muted line-height-sm m-0">
                    {% set link = 'label.send'|trans %}
                    {% set link2 = '<a href="' ~ page_terms.slug ~ '" target="_blank">' ~ page_terms.title ~ '</a>' %}
                    {{ 'label.form.terms'|trans({ '%link%': link, '%link2%': link2 })|raw }}
                </div>
                <div class="form-group form_terms text-center text-muted line-height-sm m-0">
                    {% set link = '<a href="https://policies.google.com/privacy" target="_blank">' ~ 'label.form.recaptcha.privacy'|trans ~ '</a>' %}
                    {% set link2 = '<a href="https://policies.google.com/terms" target="_blank">' ~ 'label.form.recaptcha.terms'|trans ~ '</a>' %}
                    {{ 'label.form.recaptcha'|trans({ '%link%': link, '%link2%': link2 })|raw }}
                </div>
                <script>

                  const form = document.getElementById('{{ form_id }}');
                  form.addEventListener('submit', formSubmit);

                  function formSubmit(event) {
                    grecaptcha.ready(function() {
                      {% if api_key.recaptcha_site %}
                      grecaptcha.execute('{{ api_key.recaptcha_site }}', { action: '{{ form_id }}' }).then(function(token) {
                        $('#{{ form_id }}').prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
                        form.submit();
                      });
                      {% else %}
                        $('#{{ form_id }}').parent().prepend('<div class="alert alert-danger" role="alert">{{ 'error.invalid.key'|trans }}</div>');
                      {% endif %}
                    });

                    event.preventDefault();
                  }

                  
                </script>

            {{ form_end(form) }}
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endif %}