<a class="{{ is_dropdown|default(false) ? 'dropdown-item' }} {{ action.css_class|default('') }}" title="{{ action.title|default('') is empty ? '' : action.title|trans(trans_parameters, translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
    {%- if action.icon %}<i class="fa fa-fw fa-{{ action.icon }}"></i> {% endif -%}
    {%- if action.label is defined and not action.label is empty -%}
        <span class="btn-label">{{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}</span>
    {%- endif -%}
</a>
