{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set easyadmin = form.vars.easyadmin %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}
{% set item_actions %}
<div class="global-actions">
    <button type="button" class="btn action-close">
        <span class="btn-label">
            <span class="label"><span class="btn-label">Закрыть</span></span>
        </span>
    </button>
    <a class="btn text-danger action-delete" href="{{ url('easyadmin', {entity: easyadmin.entity.name, action: 'delete', id: _entity_id, editType: 'ajax'}) }}" data-entity-id="{{ _entity_id }}">
        <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        <span class="label"><i class="fa fa-fw fa-trash-o"></i> <span class="btn-label">Удалить</span></span>
    </a>
    <button type="submit" class="btn btn-primary action-save">
        <span class="btn-label">
            <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
            <span class="label">{{ 'action.save'|trans({}, 'admin') }}</span>
        </span>
    </button>
</div>
{% endset %}

{# {% extends _entity_config.templates.layout %} #}

{# {% block body_id 'easyadmin-edit-' ~ _entity_config.name ~ '-' ~ _entity_id %} #}
{# {% block body_class 'edit edit-' ~ _entity_config.name|lower %} #}

{# {{ dump(easyadmin_config('design.form_theme')) }} #}

{% block content_footer_wrapper '' %}

{% block main %}

    {% block entity_form %}
        
        {{ form_start(form, {'attr': { 'id': 'edit-' ~ _entity_config.name|lower ~ '-form' ~ app.request.query.get('id_related') ~ '-' ~ _entity_id }}) }}

        <section class="content-header border-0 p-0">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    {# <h1 class="title">{{ ('label.module.' ~ entity.name)|trans }} (#{{ _entity_id }})</h1> #}
                </div>
                {{ item_actions }}
            </div>
        </section>

        {% set easyadmin_form_tabs = form.vars.easyadmin_form_tabs %}
        {% set easyadmin_form_groups = form.vars.easyadmin_form_groups %}

        {{ block('easyadmin_widget') }}
        
        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    {% endblock entity_form %}

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'edit',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}

<script type="text/javascript">

$(document).ready(function() {

    // console.log('{{ app.request.query.get('id_related') }}');

    $('.temp').delegate('.action-close', 'click', function(e){
        $(this).closest('.temp').remove();
    });

});

</script>

{% endblock %}
