{% block entity_file_form %}
{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme.1') %}
{{ form_row(form.fileFile) }}
{% endblock entity_file_form %}