{% block entity_image_form %}
{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme.1') %}
{{ form_row(form.imageFile) }}
{% endblock entity_image_form %}

{% block entity_background_form %}
{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}
{% form_theme form with easyadmin_config('design.form_theme.1') %}
{{ form_row(form.backgroundFile) }}
{% endblock entity_background_form %}
