{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title 'Dashboard'|trans({}, 'admin') %}

{% block body_id 'welcome' %}

{% block main %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-5">
                <h2>{{ block('page_title')|trans({}, 'admin') }}</h2>

            </div>
        </div>
    </div>

{% endblock %}
