{% block table_body %}
{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}

{# {% form_theme form with easyadmin_config('design.form_theme.1') %} #}

{% set _entity_config = easyadmin_entity(entity_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}

{% set _request_parameters = [] %}
{% set _request_parameters = _request_parameters|merge(_request_parameters|default({}))|merge({
    action: 'list',
    entity: _entity_config.name,
    referer: null
}) %}

{% set _has_batch_actions = batch_form is defined and batch_form.vars.batch_actions|length > 0 %}
{% set _fields_visible_by_user = fields|filter((metadata, field) => easyadmin_is_granted(metadata.permission)) %}
{% set _number_of_hidden_results = 0 %}
{% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}


{% set item = entity %}

{# {{ dump(item) }} #}


{% if not easyadmin_is_granted(_entity_config.list.item_permission, item) %}
    {% set _number_of_hidden_results = _number_of_hidden_results + 1 %}
{% else %}
    {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
    <tr data-id="{{ _item_id }}">
        {% if _has_batch_actions %}
            <td><input type="checkbox" class="form-batch-checkbox" value="{{ _item_id }}"></td>
        {% endif %}

        {% for field, metadata in _fields_visible_by_user %}
            {% set isSortingField = metadata.property == 'id' %}
            {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

            <td class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" {{ easyadmin_config('design.rtl') ? 'dir="rtl"' }}>
                {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
            </td>
        {% endfor %}

        {% if _list_item_actions|length > 0 %}
            {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'admin') %}
            <td class="actions">
                {% block item_actions %}
                    {% set _actions_template = _entity_config.list.collapse_actions
                        ? '@EasyAdmin/default/includes/_actions_dropdown.html.twig'
                        : 'admin/default/includes/_actions.html.twig'
                    %}
                    {{ include(_actions_template, {
                        actions: _list_item_actions,
                        entity_config: _entity_config,
                        request_parameters: _request_parameters,
                        translation_domain: _entity_config.translation_domain,
                        trans_parameters: _trans_parameters,
                        item_id: _item_id,
                        item: item
                    }, with_context = false) }}
                {% endblock item_actions %}
            </td>
        {% endif %}
    </tr>
{% endif %}





{% endblock table_body %}