{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set easyadmin = form.vars.easyadmin %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}
{% set item_actions %}
<div class="global-actions">
    <button type="submit" class="btn btn-primary action-save">
        <span class="btn-label">
            <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
            <span class="label">{{ 'action.save'|trans({}, 'admin') }}</span>
        </span>
    </button>
</div>
{% endset %}

{# {% extends _entity_config.templates.layout %} #}

{# {% block body_id 'easyadmin-new-' ~ _entity_config.name %} #}
{# {% block body_class 'new new-' ~ _entity_config.name|lower %} #}



{% block content_footer_wrapper '' %}

{% block main %}

    {% block entity_form %}

        {{ form_start(form, {'attr': { 'id': 'new-' ~ _entity_config.name|lower ~ '-form' ~ _entity_id, entity_related: app.request.query.get('entity_related'), id_related: app.request.query.get('id_related') }}) }}

        <section class="content-header border-0 p-0">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    {% set _default_title = 'new.page_title'|trans(_trans_parameters, 'admin') %}
                    <h1 class="title">{{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}</h1>
                </div>
                {{ item_actions }}
            </div>
        </section>

        {% set easyadmin_form_tabs = form.vars.easyadmin_form_tabs %}
        {% set easyadmin_form_groups = form.vars.easyadmin_form_groups %}

        {{ block('easyadmin_widget') }}
        
        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    {% endblock entity_form %}

{% endblock %}

{% block body_javascript %}

<script type="text/javascript">

$(document).ready(function() {
    
});

</script>

{% endblock %}
