{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('photoswipe') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('photoswipe') }}
{% endblock %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">
    

    <div class="row mb-4">
      {% set thumbnail_class = 'thumbnail' %}
      {% set i = 0 %}
      {% for item in testimonials %}
        <div class="col-12">
          {% if not loop.first %}
          <hr class="my-4">
          {% endif %}
          <div class="row">
            <div class="col-4 text-center">
              <a href="{{ image_filter(item.image, 'testimonial_popup') }}" class="{{ thumbnail_class }}" data-width="{{ info.size.width_testimonial_popup ?? null }}" data-height="{{ info.size.height_testimonial_popup ?? null }}" data-caption="{{ item.title }}" data-index="{{ i }}">
                <img src="{{ image_filter(item.image, 'testimonial') }}" class="img-fluid rounded border shadow-sm" alt="{{ item.title }}">
              </a>
            </div>
            <div class="col-8">
              <div>
                <h3 class="h5">{{ item.title }}</h3>
              </div>
              <div>{{ item.description|raw }}</div>
            </div>
          </div>
        </div>
        {% set i = i + 1 %}
      {% endfor %}
    </div>

    {% include 'default/includes/_photoswipe.html.twig' %}  

    {% if page %}
    <div class="row mb-4">
      <div class="col">
        {# {% if page.image %}
        <img src="{{ asset(service_images ~ '/' ~ category.image) }}" class="img-fluid float-sm-left border rounded mb-4">
        {% endif %} #}
        {{ page.description|raw }}
      </div>
    </div>
    {% endif %}

  </div>
</section>



<script type="text/javascript">

  'use strict';

  /* global jQuery, PhotoSwipe, PhotoSwipeUI_Default, console */

  (function($) {

    var item_class = '.{{ thumbnail_class }}';

    // Init empty thumbnail array
    var container = [];

    // Loop over thumbnail items and push it to the array
    // $(wrapper).find('a').each(function() {
    $(item_class).each(function() {
      var $link = $(this),
        item = {
          src: $link.attr('href'),
          w: $link.data('width'),
          h: $link.data('height'),
          title: $link.data('caption')
        };

      container.push(item);
    });

    // Define click event on thumbnail item
    $(item_class).click(function(event) {

      // Prevent location change
      event.preventDefault();

      // Define object and thumbnail options
      var $pswp = $('.pswp')[0],
        options = {
          index: $(this).data('index'),
          bgOpacity: 0.85,
          showHideOpacity: true,
          shareButtons: [
              {id:'download', label:'{{ 'label.download'|trans }}', url:$(this).attr('href'), download:true}
          ],
        };

      // Initialize PhotoSwipe
      var thumbnail = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);
      thumbnail.init();
    });

  }(jQuery));

</script>

{% endblock %}