{% if items %}
<div class="row">
  <div class="container-fluid">
    <h5 class="h5 text-uppercase">Новости</h5>

    <hr class="mt-3 mb-4">

    {% set runtimeConfig = [90, 50] %}

    {% for item in items %}
    <div class="row mb-3">
      {% set href = urlizer.url([item.slug]) %}
      <div class="col-5">
        <a href="{{ href }}">
          <img src="{{ image_filter(item.image, 'blog', runtimeConfig) }}" class="img-fluid border rounded" alt="{{ item.title }}">
        </a>
      </div>
      <div class="col-7 pl-0">
        <h5 class="h6 m-0"><a href="{{ href }}">{{ item.title }}</a></h5>
      </div>
    </div>
    {% else %}
      {# <div class="col">{{ 'item.no_items_found'|trans }}</div> #}
    {% endfor %}
  </div>
</div>
{% endif %}