{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">
    


    {% if paginator.numResults %}
    <div class="row mb-4">
      {% for item in paginator.results %}
      {% set href = urlizer.url([slug_router.slug, item.slug]) %}

      {% if not loop.first %}
        <div class="col-12 my-4"><hr></div>
      {% endif %}
        
      <div class="col-12">
        <div>
          <div class="image text-center w-100">
            <a href="{{ href }}">
              <img src="{{ image_filter(item.image, 'blog') }}" class="img-fluid border rounded" alt="{{ item.title }}">
            </a>
          </div>
          <h3 class="h4 mt-3">
            <a href="{{ href }}">
              {{ item.title }}
            </a>
          </h3>
          <p class="blog-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ item.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
          </p>
          <p>{{ item.summary }}</p>
          <a href="{{ href }}" class="btn btn-primary">
            {{ 'label.readmore'|trans }}
          </a>
        </div>
      </div>
      {% else %}
      {# <div class="col">{{ 'item.no_items_found'|trans }}</div> #}
      {% endfor %}

    </div>
    {% endif %}



    {% if paginator and paginator.hasToPaginate %}
    <div class="row mb-4">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if paginator.hasPreviousPage %}
            <li class="page-item prev"><a href="{{ url(_route, {slug: slug_router.slug, page: paginator.previousPage}) }}" class="page-link" rel="previous"><i class="fa fw fa-arrow-left"></i> Previous</a></li>
            {% else %}
            <li class="page-item prev disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i> Previous</span></li>
            {% endif %}

            {% for i in 1..paginator.lastPage %}
              {% if i == paginator.currentPage %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
              <li class="page-item"><a href="{{ url(_route, {slug: slug_router.slug, page: i}) }}" class="page-link">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginator.hasNextPage %}
            <li class="page-item next"><a href="{{ url(_route, {slug: slug_router.slug, page: paginator.nextPage}) }}" class="page-link" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
            {% else %}
            <li class="page-item next disabled"><span class="page-link">Next <i class="fa fw fa-arrow-right"></i></span></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}
    


    {% if page %}
    <div class="row mb-4">
      <div class="col">
        {% if page.image %}
        <img src="{{ image_filter(page.image, 'page') }}" class="img-fluid float-sm-left rounded mb-4 mr-4" alt="{{ page.title }}">
        {% endif %}
        {{ page.description|raw }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}