{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('photoswipe') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('photoswipe') }}
{% endblock %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">

    <div class="row">
      <div class="col-12">
        {% set thumbnail_class = 'thumbnails' %}
        <ul class="nav {{ thumbnail_class }}">
          <li class="nav-item text-center col-sm-12 m-0 p-0">
            <a class="thumbnail" href="{{ image_filter(item.image, 'blog_popup') }}" data-width="{{ info.size.width_blog_popup ?? null }}" data-height="{{ info.size.height_blog_popup ?? null }}" data-caption="{{ item.title }}">
              <img src="{{ image_filter(item.image, 'blog_show') }}" class="img-fluid border rounded" alt="{{ item.title }}">
            </a>
          </li>
          {% set i = 1 %}
          {% if item.images is defined %}
            {% for image in item.images %}
            <li class="nav-item text-center col-sm-3 mb-2">
              <a class="thumbnail" href="{{ image_filter(image.image, 'blog_popup') }}" data-width="{{ info.size.width_blog_popup ?? null }}" data-height="{{ info.size.height_blog_popup ?? null }}" data-caption="{{ image.title }}">
                <img src="{{ image_filter(image.image, 'blog_show') }}" class="img-fluid border rounded" alt="{{ image.title }}">
              </a>
            </li>
              {% set i = i + 1 %}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <p class="blog-metadata bg-light px-4 py-2 rounded mb-2">
              <span class="metadata"><i class="fa fa-calendar"></i> {{ item.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="">{{ item.title }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        {% autoescape %}
          {{ item.description|raw }}
        {% endautoescape %}
        
      </div>
    </div>


    {% include 'default/includes/_product.html.twig' with { 'class' : thumbnail_class } %}


  </div>
</section>
{% endblock %}