{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('photoswipe') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('photoswipe') }}
  {{ encore_entry_script_tags('readmore') }}
{% endblock %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">

    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-2">{{ item.title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 overflow-hidden readmore" id="readmore">
            {% autoescape %}
              {{ item.description|raw }}
            {% endautoescape %}
          </div>
        </div>
        {# <div class="row">
          <div class="col-12">
            <b>Price:</b> {{ item.price|number_format(2, '.', ',') }} $
          </div>
        </div> #}
      </div>
      <div class="col-4">
        {% set thumbnail_class = 'thumbnail' %}
        <ul class="nav">
          <li class="nav-item text-center col-12 px-1 mb-2">
            <a href="{{ image_filter(item.image, 'specialist_popup') }}" class="{{ thumbnail_class }}" data-width="{{ info.size.width_specialist_popup ?? null }}" data-height="{{ info.size.height_specialist_popup ?? null }}" data-caption="{{ item.title }}" data-index="0">
                <img src="{{ image_filter(item.image, 'specialist_show') }}" class="img-fluid border rounded" alt="{{ item.title }}">
              </a>
            <div class="py-2 text-center font-weight-semibold">
              {{ item.summary }}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <hr>
    <div class="row">
      <ul class="nav">
        {% set i = 1 %}
        {% for image in item.images %}
        <li class="nav-item text-center col-sm-3 mb-4">
          <a class="{{ thumbnail_class }}" href="{{ asset(media_images ~ '/' ~ image.image) | default_image | imagine_filter('product_popup') }}" data-toggle="modal" data-target="#thumbnail{{ i }}" data-width="798" data-height="726" data-caption="{{ item.title }}" data-index="{{ i }}">
            <img src="{{ asset(media_images ~ '/' ~ image.image) | default_image | imagine_filter('product_show') }}" class="img-fluid border rounded">
          </a>
        </li>
          {% set i = i + 1 %}
        {% endfor %}
      </ul>
    </div>


    {% include 'default/includes/_specialist.html.twig' with { 'class' : thumbnail_class } %}

    <script type="text/javascript">
      $(function(){
        $('.readmore').readmore({
          heightMargin: 20,
          collapsedHeight: 212,
          speed: 75,
          moreLink: '<a href="#" class="btn btn-sm btn-outline-primary mx-auto px-5">{{ 'label.readmore'|trans }}</a>',
          lessLink: '<a href="#" class="btn btn-sm btn-outline-primary mx-auto px-5">{{ 'label.collapse'|trans }}</a>',
          afterToggle: function(trigger, element, expanded) {
            if(! expanded) { // The "Close" link was clicked
              $('html, body').animate( { scrollTop: element.offset().top }, {duration: 300 } );
            }
          },
        });
      });
    </script>
  </div>
</section>
{% endblock %}