
{% if args.position is defined %}

	{% set modules = slug_router.landingPage.module ?? null %}

	{% if modules is not null and modules.count > 0 %}
		{% set load = false %}
		{% set module %}
			{# {{ dump(modules) }} #}
			{% for item in modules if item.position == args.position and item.enabled %}
				{% set load = true %}
				{% set params = [] %}

				{% if slug_router is defined %}
					{% set params = params|merge({ 'slug_router': slug_router }) %}
				{% endif %}

				{% if _request is defined %}
					{% set params = params|merge({ '_request': _request }) %}
				{% endif %}

				{% set params = params|merge({ 'args': args }) %}

				{% set params = params|merge({ 'module': item }) %}

				{{ render(controller('App\\Controller\\Module\\' ~ item.name|capitalize ~ 'Controller::index', params)) }}

				{# {{ render(controller('App\\Controller\\Module\\' ~ item.name|capitalize ~ 'Controller::index', {
				  'slug_router': slug_router,
				  '_request': _request,
				  'module': item,
				})) }} #}
			{% endfor %}

		{% endset %}

		{% if load %}
		<section>
		  <div class="container-fluid">
		  	{{ module }}
		  </div>
		</section>
		{% endif %}
	{% endif %}
{% endif %}