{% extends '@EasyAdmin/default/list.html.twig' %}

{% block table_body %}
    {# {{ parent() }} #}

    {% macro recursive(args, delimeter, i) %}
        {% set item = args.item %}
        {% set _entity_config = args._entity_config %}
        {% set _has_batch_actions = args._has_batch_actions %}
        {% set _fields_visible_by_user = args._fields_visible_by_user %}
        {% set _trans_parameters = args._trans_parameters %}
        {% set _list_item_actions = args._list_item_actions %}
        {% set _request_parameters = args._request_parameters %}
        {% set _number_of_hidden_results = args._number_of_hidden_results %}

{# {{ dump(item.parent) }} #}

        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
        <tr data-id="{{ _item_id }}">

            {% for field, metadata in _fields_visible_by_user %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                <td class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}" {{ easyadmin_config('design.rtl') ? 'dir="rtl"' }}>
                    {% if field == 'title' %}
                        {% set lvl = item.lvl %}
                            
                        {% for key,val in 1..lvl if lvl > 0 %}
                        <span class="mx-2">
                            &bull;
                        </span>
                        {% endfor %}
                    {% endif %}

                    {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                </td>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'admin') %}
                <td class="actions">
                    {% block item_actions %}
                        {% set _actions_template = _entity_config.list.collapse_actions
                            ? '@EasyAdmin/default/includes/_actions_dropdown.html.twig'
                            : '@EasyAdmin/default/includes/_actions.html.twig'
                        %}
                        {{ include(_actions_template, {
                            actions: _list_item_actions,
                            entity_config: _entity_config,
                            request_parameters: _request_parameters,
                            translation_domain: _entity_config.translation_domain,
                            trans_parameters: _trans_parameters,
                            item_id: _item_id,
                            item: item
                        }, with_context = false) }}
                    {% endblock item_actions %}
                </td>
            {% endif %}
            {% if _has_batch_actions %}
                <td><input type="checkbox" class="form-batch-checkbox" value="{{ _item_id }}"></td>
            {% endif %}
        </tr>


        {# {% if item.children.count > 0 %}
            {% set _number_of_hidden_results = _number_of_hidden_results + item.children.count %}

            {% for child in item.children %}
                {% set args = args|merge({ 'item' : child }) %}
                {% set child_delimeter = delimeter + 1 %}
                {{ _self.recursive(args, child_delimeter, i ~ loop.index) }}
            {% endfor %}
        {% endif %} #}
    {% endmacro %}

    {% for item in paginator.currentPageResults %}
        {# {{dump(item.children.count)}} #}
        {% if not easyadmin_is_granted(_entity_config.list.item_permission, item) %}
            {% set _number_of_hidden_results = _number_of_hidden_results + 1 %}
        {% else %}

            {% set args = [] %}
            {% set args = args|merge({ 'item' : item }) %}
            {% set args = args|merge({ '_entity_config' : _entity_config }) %}
            {% set args = args|merge({ '_has_batch_actions' : _has_batch_actions }) %}
            {% set args = args|merge({ '_fields_visible_by_user' : _fields_visible_by_user }) %}
            {% set args = args|merge({ '_trans_parameters' : _trans_parameters }) %}
            {% set args = args|merge({ '_list_item_actions' : _list_item_actions }) %}
            {% set args = args|merge({ '_request_parameters' : _request_parameters }) %}
            {% set args = args|merge({ '_number_of_hidden_results' : _number_of_hidden_results }) %}
            {% set delimeter = 0 %}
            {{ _self.recursive(args, delimeter, loop.index) }}

        {% endif %}
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _fields_visible_by_user|length + 1 }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'admin') }}
            </td>
        </tr>
    {% endfor %}

    {% if _number_of_hidden_results > 0 %}
        <tr class="datagrid-row-empty">
            <td class="text-center" colspan="{{ _fields_visible_by_user|length + 1 }}">
                <span class="datagrid-row-empty-message"><i class="fa fa-lock mr-1"></i> {{ 'security.list.hidden_results'|trans({}, 'admin') }}</span>
            </td>
        </tr>
    {% endif %}
{% endblock table_body %}