{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container">

    {% if page.image or page.description %}
    <div class="row mb-4">
      <div class="col">
        {% if page.image %}
        <img src="{{ image_filter(page.image, 'page') }}" class="img-fluid float-sm-left rounded mb-4 mr-4" alt="{{ page.title }}">
        {% endif %}
        
        {{ page.description|raw }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}