<!-- Section: Blog -->
<section>
  <div class="container">
    {% if module.title or module.description %}
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% if module.title %}
          <h2 class="mb-30 mt-0 line-height-1">{{ module.title }}</h2>
          {% endif %}
          {% if module.description %}
          <div>{{ module.description|raw }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

    <div class="section-content">
      <div class="row">
        {% for item in items %}
          {% set href = urlizer.url([item.slug]) %}
        <div class="col-md-4 mb-sm-20">
          <article>
            <div class="entry-header">
              <div class="post-thumb">
                <a href="{{ href }}">
                  <img src="{{ image_filter(item.image, 'blog', runtimeConfig) }}" class="img-fluid" alt="{{ item.title }}">
                </a>
              </div>
            </div>
            <div class="entry-content p-15 border-1px">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <h4 class="entry-title mt-0 pt-0"><a href="{{ href }}">{{ item.title }}</a></h4>
                  <p>{{ item.summary }}</p>
                  <a class="text-theme-colored mt-5 mb-0 pull-right flip pr-20" href="{{ href }}">Читать далее <i class="fa fa-angle-double-right"></i></a>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>