<div class="row">
  {# {{ dump(slug_router) }} #}
  {# {{ dump(module) }} #}

  {% if module.title %}
  <h3 class="px-3">{{ module.title }}</h3>
  {% endif %}

  {% if module.description %}
  <div class="px-3">{{ module.description|raw }}</div>
  {% endif %}

  {% macro recursive(children, slug_router, href, i) %}

  {% set class = 'border-top' %}
  {% if i == 1 %}
    {% set class = '' %}
  {% endif %}

  {% set href = href ~ '/' ~ children.slug %}
  {% set class2 = '' %}
  {% set class3 = '' %}
  {% set class4 = 'fa-plus' %}
  {% set expanded = 'false' %}
  {% for item in slug_router.items %}
    {% if children.slug == item.slug %}
      {% set class2 = 'active' %}
      {% set class3 = 'collapse show' %}
      {% set class4 = 'fa-minus' %}
      {% set expanded = 'true' %}
    {% endif %}
  {% endfor %}


  <li class="list-group-item bg-transparent border-bottom p-0 container-fluid {{ class }} {{ class2 }}">

    <div class="row align-items-center justify-content-end m-0">

      {% if children.children|length %}
      <a class="d-block col-2 h-100 font-size-xs" data-toggle="collapse" href="#collapse-{{ i }}" role="button" aria-expanded="{{ expanded }}" aria-controls="collapse-{{ i }}">
        <i class="fa {{ class4 }}"></i>
      </a>
      {% endif %}

      {% set class = 'col-12' %}
      {% if children.children|length %}
        {% set class = 'col-10' %}
      {% endif %}

      <a href="{{ urlizer.url([href]) }}" class="py-2 pl-0 d-flex align-items-center col-10 h-100">
        <span class="w-100">{{ children.title }} </span> 
        {% if children.product is defined and children.product|length %}
        <small class="text-secondary flex-shrink-1">{{ children.product|length }}</small>
        {% endif %}
        {% if children.blog is defined and children.blog|length %}
        <small class="text-secondary flex-shrink-1">{{ children.blog|length }}</small>
        {% endif %}
      </a>

      {% if children.children|length %}
      <ul class="list-group list-group-flush pl-0 pr-0 collapse col-12 bg-light {{ class3 }}" id="collapse-{{ i }}">

        {% for child in children.children %}
        {{ _self.recursive(child, slug_router, href, i ~ loop.index) }}
        {% endfor %}

      </ul>
      {% endif %}

    </div>

  </li>
  {% endmacro %}

  {% if children %}
  <div class="col-12">
    <ul class="list-group list-group-flush tree">

      {% set href = slug_router.landingPage.slug %}
      {% for child in children %}
      {{ _self.recursive(child, slug_router, href, loop.index) }}
      {% endfor %}

    </ul>
  </div>
  {% endif %}

  <script type="text/javascript">
  $(function() {
    $('.tree [data-toggle=\'collapse\']').on('click', function() {
      var $icon = $(this).find('i');
      if ($icon.hasClass('fa-plus')) {
        $icon.removeClass('fa-plus').addClass('fa-minus');
      } else {
        $icon.removeClass('fa-minus').addClass('fa-plus');
      }
    });
  });
  </script>

</div>

