<table cellspacing="0" border="1" cellpadding="15" width="480">
  <tbody>
    <tr>
      <td>Продукция</td>
      <td><a href="{{ userProductLink }}">{{ userProductName }}</a></td>
    </tr>
    <tr>
      <td>Количество</td>
      <td>{{ userQuantity }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ userEmail }}</td>
    </tr>
    <tr>
      <td>Сообщение</td>
      <td><p>{{ userMessage }}</p></td>
    </tr>
  </tbody>
</table>