<table cellspacing="0" border="1" cellpadding="15" width="480">
  <tbody>
    <tr>
      <td>Инициалы</td>
      <td>{{ userCredential }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ userEmail }}</td>
    </tr>
    <tr>
      <td>Сообщение</td>
      <td><p>{{ userMessage }}</p></td>
    </tr>
  </tbody>
</table>