<div class="row">
  <div class="container py-5">

    {# <code>[advantage template for infoblock content]</code> #}

    {# {{ dump(module) }} #}

    {% if module.title %}
    <h3 class="px-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set items = module.infoblock %}

    <div class="row">

      {% for item in items %}
      <div class="col-4">
        <img src="{{ image_filter(item.image, 'infoblock', runtimeConfig) }}" class="d-block w-100 rounded border shadow-sm" alt="{{ item.title }}">
        {% if item.title or item.description %}
        <div>
          {% if item.title %}
            <h5 class="my-3">{{ item.title }}</h5>
          {% endif %}

          <div>{{ item.description|raw }}</div>

          {% if item.link %}
          <a href="{{ item.link }}" class="btn btn-primary mt-3">Подробнее</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endfor %}

    </div>

  </div>
</div>

