<div class="row">
  <div class="container py-5">

    {# <code>[counter template for infoblock content]</code> #}

    {# {{ dump(module) }} #}

    {% if module.title %}
    <h3 class="px-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set items = module.infoblock %}

    <div class="row">

      {% for item in items %}
      <div class="col-3">
        <div class="image d-flex justify-content-center">
          <img src="{{ image_filter(item.image, 'infoblock', runtimeConfig) }}" class="img-fluid" alt="{{ item.title }}">
        </div>
        {% if item.title or item.description %}
        <div class="text-center">
          {% if item.title %}
            <h5 class="my-3 count" data-animation-duration="{{ item.title }}">{{ item.title }}</h5>
          {% endif %}

          <div>{{ item.description|raw }}</div>

          {% if item.link %}
          <a href="{{ item.link }}" class="btn btn-primary mt-3">Подробнее</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endfor %}

    </div>

    <script type="text/javascript">
(function($) {
  $('.count').each(function () {
      $(this).prop('Counter',0).animate({
          Counter: $(this).text()
      }, {
          duration: $(this).data('animation-duration'),
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
  });
})(jQuery);
    </script>

  </div>
</div>

