<div class="row">
  <div class="container py-5">

    {# <code>[banner template for infoblock content]</code> #}

    {# {{ dump(module) }} #}

    {% if module.title %}
    <h3 class="px-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set items = module.infoblock %}
    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

  	<style type="text/css">
  	#{{ itemsId }} .item {
		    min-height: 164px;
		}
  	#{{ itemsId }} .item .inner {
			    min-height: 164px;
			    background-repeat: no-repeat;
			    background-attachment: scroll;
			    background-position: center center;
			    background-size: 100% 100%;
			}
  	</style>

    <div id="{{ itemsId }}" class="row justify-content-center mt-4">
      {% for item in items %}
      <div class="col-md-4 mb-4 item">
        <a {% if item.link %} href="{{ item.link }}"{% endif %} class="text-decoration-none">
          <div class="inner bg-white shadow-sm border rounded p-5" {% if item.image %}style="background-image: url({{ asset(media_images ~ '/' ~ item.image) | default_image }});"{% endif %}>
            <div class="text-dark text-break">{{ item.description|raw }}</div>
            {% if item.link and item.description %}
            <div class="text-center mt-3">
              <button class="btn btn-outline-dark mx-auto px-5 py-1">{{ 'label.readmore'|trans }}</button>
            </div>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

  </div>
</div>