<div class="row">
  <div class="col-12 p-0">

    {# <code>[slider template for infoblock content]</code> #}

    {# {{ dump(module) }} #}

    {% if module.title %}
    <h3 class="px-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3">{{ module.description|raw }}</div>
    {% endif %}


    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set items = module.infoblock %}
    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

    <div id="{{ itemsId }}" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for item in items %}
        <li data-target="#{{ itemsId }}" data-slide-to="{{ loop.index - 1 }}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for item in items %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <img src="{{ image_filter(item.image, 'infoblock', runtimeConfig) }}" class="d-block w-100" alt="{{ item.title }}">
          {% if item.title or item.description %}
          <div class="carousel-caption d-none d-md-block">
            {% if item.title %}<h5>{{ item.title }}</h5>{% endif %}
            <div class="w-50 mx-auto">{{ item.description|raw }}</div>
            {% if item.link %}
            <a href="{{ item.link }}" class="btn btn-primary my-3">Подробнее</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#{{ itemsId }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#{{ itemsId }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <script type="text/javascript">
      $(function(){
        $('#{{ itemsId }}').carousel({
          interval: 5000
        });
      });
    </script>
  </div>
</div>