<!DOCTYPE html>
<html>
{% set _route = app.request.attributes.get('_route') %}
{# prod assets template path 'build/template/' #}
{% set template_path = '' %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{% block meta_keyword %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <base href="{{ app.request.getSchemeAndHttpHost() }}">
  <title>{% block meta_title %}{% endblock %}</title>
  {% if info.project.icon %}
  {# <link rel="icon" type="image/x-icon" href="{{ urlizer.url(['media/favicon.png']) }}"> #}
  <link rel="icon" type="image/x-icon" href="{{ media_images ~ '/' ~ info.project.icon }}">
  {% endif %}
  {% block canonical %}{% endblock %}
  {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  {{ encore_entry_link_tags('main') }}
  {% endblock %}
  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>
  {% block header %}
  <header>
    <div class="container-fluid border-bottom">
      <div class="row bg-light">
        <div class="container">
          <div class="row top-bar align-items-center py-2 text-secondary">
            <div class="col-5">
              <span>{{ info.header.address }}</span>
            </div>
            <div class="col-5 font-weight-semibold text-right">
              <i class="fa fa-phone fa-flip-horizontal"></i>
              {% if info.header.phone_1 %}
              <span class="ml-2">{{ info.header.phone_1 }};</span>
              {% endif %}
              {% if info.header.phone_2 %}
              <span class="ml-2">{{ info.header.phone_2 }};</span>
              {% endif %}
              {% if info.header.phone_3 %}
              <span class="ml-2">{{ info.header.phone_3 }}</span>
              {% endif %}
            </div>
            <div class="col-2 font-weight-semibold text-right">
              <a href="#" class="text-secondary ml-2"><i class="fa fa-whatsapp"></i></a>
              <a href="#" class="text-secondary ml-2"><i class="fa fa-instagram"></i></a>
              <a href="#" class="text-secondary ml-2"><i class="fab fa-telegram-plane"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid border-bottom">
      <div class="row border-bottom">
        <div class="container">
          <div class="row align-items-center py-2">
            <div class="col-2 logo text-center">
              <a href="/" class="text-decoration-none">
                <span class="h5 text-uppercase">
                  {% if info.header.logo %}
                    <img src="{{ media_images ~ '/' ~ info.header.logo }}" class="img-fluid" alt="{{ info.project.sitename }}">
                  {% else %}
                    {{ info.project.sitename }}
                  {% endif %}
                </span>
              </a>
            </div>
            <div class="col-10">
              {% block nav %}
                {{ render(controller('App\\Controller\\PageController::nav', {
                  'slug_router': slug_router,
                })) }}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}

  


  <section>

    {% block location %}
    <div class="container-fluid">

      {% block title %}{% endblock %}

      {% block breadcrumb %}{% endblock %}

    </div>
    {% endblock %}

    {% set position = {
      'before' : 0,
      'after'  : 1,
      'top'    : 2,
      'right'  : 3,
      'bottom' : 4,
      'left'   : 5,
    } %}

    {% set args = [] %}

    {% if module_args is not defined %}
      {% set module_args = [] %}
    {% endif %}

    {% set args = args|merge(module_args) %}
      
    {% set args = args|merge({ 'position' : position.before }) %}
    {% include 'module/index.html.twig' with { args: args } %}

    <div class="container">
      <div class="row">

        <main class="w-100">


          {% set args = args|merge({ 'position' : position.left }) %}
          {% include 'module/index.html.twig' with { args: args } %}

          <section class="content">

            {% set args = args|merge({ 'position' : position.top }) %}
            {% include 'module/index.html.twig' with { args: args } %}

            {% block body %}{% endblock %}

            {% set args = args|merge({ 'position' : position.bottom }) %}
            {% include 'module/index.html.twig' with { args: args } %}
            
          </section>

          {% set args = args|merge({ 'position' : position.right }) %}
          {% include 'module/index.html.twig' with { args: args } %}

        </main>

      </div>
    </div>

    {% set args = args|merge({ 'position' : position.after }) %}
    {% include 'module/index.html.twig' with { args: args } %}

  </section>

  {% block footer %}
  <footer class="bg-darker">
    <hr class="m-0">
    <div class="container-fluid">
      <div class="row bg-light">
        <div class="container py-5">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="row">
                <div class="container-fluid">
                  {% if info.footer.logo %}
                  <div class="pr-5 py-0 mr-5">
                    <img src="{{ media_images ~ '/' ~ info.footer.logo }}" class="img-fluid" alt="{{ info.project.sitename }}">
                  </div>
                  <hr class="mt-3 mb-4">
                  {% endif %}

                  {% if info.footer.comment %}
                    {{ info.footer.comment|raw }}
                  {% endif %}

                  <ul class="list-group list-group-horizontal-lg">
                    {% if info.social.inst %}
                    <li class="list-group-item bg-transparent h3 p-0 mr-4 border-0"><a href="{{ info.social.inst }}" target="_blank"><i class="fab fa-instagram text-primary"></i></a></li>
                    {% endif %}
                    {% if info.social.vk %}
                    <li class="list-group-item bg-transparent h3 p-0 mr-4 border-0"><a href="{{ info.social.vk }}" target="_blank"><i class="fab fa-vk"></i></a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>

            </div>

            <div class="col-12 col-md-3">
              {% block nav_footer %}
                {{ render(controller('App\\Controller\\PageController::nav', {
                  'slug_router': slug_router,
                  'position': 'footer',
                })) }}
              {% endblock %}
            </div>

            <div class="col-12 col-md-3">
              {{ render(controller('App\\Controller\\BlogController::latest')) }}
            </div>

            <div class="col-12 col-md-3">
              <div class="row">
                <div class="container-fluid">
                  <h5 class="h5 text-uppercase">Контакты</h5>
                  <hr class="mt-3 mb-4">
                  <ul class="list-group">
                    {% if info.header.address %}
                    <li class="list-group-item bg-transparent border-0 p-0 mb-3">
                      <div class="row">
                        <div class="col-2">
                          <i class="fa fa-map-marker-alt text-primary"></i>
                        </div>
                        <div class="col-9 pl-0">
                          <span class="">{{ info.header.address }}</span>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                    {% if info.header.phone_1 %}
                    <li class="list-group-item bg-transparent border-0 p-0 mb-3">
                      <div class="row">
                        <div class="col-2">
                          <i class="fa fa-phone fa-flip-horizontal text-primary"></i>
                        </div>
                        <div class="col-9 pl-0">
                          <span class="">{{ info.header.phone_1 }}</span>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                    {% if info.header.phone_2 %}
                    <li class="list-group-item bg-transparent border-0 p-0 mb-3">
                      <div class="row">
                        <div class="col-2">
                          <i class="fa fa-phone fa-flip-horizontal text-primary"></i>
                        </div>
                        <div class="col-9 pl-0">
                          <span class="">{{ info.header.phone_2 }}</span>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row border-top py-3">
            <div class="col-12 text-center">
              <span class="d-flex justify-content-center pr-2 font-italic text-muted">
                <span class="logo">
                  {{ info.project.sitename }}
                </span>
                <span class="ml-2">&copy;</span>
                <span class="ml-2">{{ 'now'|date('Y') }}</span>
              </span>
            </div>
            {# <div class="col-8 text-secondary">
              {{ render(controller('App\\Controller\\PageController::footerLinks')) }}
            </div> #}
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
  
</body>
</html>
