{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme.1') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set easyadmin = form.vars.easyadmin %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}
{% set item_actions %}
<div class="global-actions">
    <a class="btn text-danger action-unlink" href="{{ url('easyadmin', {entity: easyadmin.entity.name, action: 'unlink', id: _entity_id, entity_related: app.request.query.get('entity_related'), id_related: app.request.query.get('id_related')}) }}" data-entity-id="{{ _entity_id }}">
        <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        <span class="label"><i class="fa fa-fw fa-trash-o"></i> <span class="btn-label">Удалить</span></span>
    </a>
    <button type="submit" class="btn btn-primary action-save">
        <span class="btn-label">
            <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
            <span class="label">{{ 'action.save'|trans({}, 'admin') }}</span>
        </span>
    </button>
</div>
{% endset %}

{# {% extends _entity_config.templates.layout %} #}

{# {% block body_id 'easyadmin-edit-' ~ _entity_config.name ~ '-' ~ _entity_id %} #}
{# {% block body_class 'edit edit-' ~ _entity_config.name|lower %} #}

{# {{ dump(easyadmin_config('design.form_theme')) }} #}

{% block content_footer_wrapper '' %}

{% block main %}
{# {{ dump(_entity_config) }} #}
{# {{ dump(_entity_id) }} #}
{# {{ dump(entity) }} #}
{# {{ dump() }} #}
{# {{ dump(app.request.query.get('entity')) }} #}
{# {{ dump(app.request.query) }} #}
{# {{ dump(form) }} #}

    {% block entity_form %}


        {{ form_start(form, {'attr': { 'id': 'edit-' ~ _entity_config.name|lower ~ '-form' ~ _entity_id, entity_related: app.request.query.get('entity_related'), id_related: app.request.query.get('id_related') }}) }}

        <section class="content-header border-0 p-0">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title">{{ ('label.module.' ~ entity.name)|trans }} (#{{ _entity_id }})</h1>
                </div>
                {{ item_actions }}
            </div>
        </section>

        {# {{ form(form, {'render_rest': false}) }} #}

        {# {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.position) }}
        {{ form_row(form.sort) }}
        {{ form_row(form.enabled) }} #}

        {% set easyadmin_form_tabs = form.vars.easyadmin_form_tabs %}
        {% set easyadmin_form_groups = form.vars.easyadmin_form_groups %}

        {# {{ block('easyadmin_widget') }} #}

        {% set _translation_domain = easyadmin.entity.translation_domain %}
        <div class="row">
        {% for group_name, group_config in easyadmin_form_groups|filter(group_config => not group_config.form_tab or group_config.form_tab == tab_name) %}
            <div class="field-group col-{{ group_config.columns|default('12') }} {{ group_config.css_class|default('') }}">
                <fieldset>
                    {% if group_config.label|default(false) or group_config.icon|default(false) or group_config.collapsible|default(false) %}
                        <legend class="{{ group_config.icon|default(false) ? 'with-icon' }}">
                            {% if group_config.icon|default(false) %}
                                <i class="fa fa-fw fa-{{ group_config.icon }}"></i>
                            {% endif %}
                            {{ group_config.label|trans(domain = _translation_domain)|raw }}
                        </legend>

                        {% if group_config.help|default(false) %}
                            <div class="legend-help">{{ group_config.help|trans(domain = _translation_domain)|raw }}</div>
                        {% endif %}
                    {% endif %}

                    <div class="row">
                        
                        {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and field.vars.easyadmin.form_group == group_name) %}
                            {% if not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name %}
                                <div class="col-{{ field.vars.easyadmin.field.columns|default('12') }} {{ field.vars.easyadmin.field.css_class|default('') }}">
                                    {% set field_id = {'id': _entity_config.name|lower ~ '_' ~ field.vars.easyadmin.field.fieldName ~ _entity_id} %}
                                    {# {% if field.vars.easyadmin.field.fieldName == 'description' %} #}
                                        {# {{ form_row(field) }} #}
                                        {# {{ form_row(field, {'attr': { 'class': '12345' }}) }} #}
                                        {# {% set id = '__id__' %}
                                        {% if app.request.query.get('id') is defined %}
                                            {% set id = app.request.query.get('id') %}
                                        {% endif %}
                                        {{ form_row(field, {'id': 'module_description' ~ id}) }} #}
                                    {# {% elseif field.vars.easyadmin.field.fieldName == 'name' and app.request.query.get('entity_field_name') is not null %} #}
                                    {% if field.vars.easyadmin.field.fieldName == 'name' and app.request.query.get('entity_field_name') is not null %}
                                        {{ form_row(field, field_id|merge({'value': app.request.query.get('entity_field_name')})) }}
                                    {% else %}
                                        {# {{dump(field.vars.easyadmin.field.fieldName)}} #}
                                        {{ form_row(field, field_id) }}
                                    {% endif %}

                                    {% if field.vars.easyadmin.field.fieldName == 'position' %}
                                        {% if form.template is defined %}
                                            {% set row_template %}
                                                {{ form_row(form.template, {'id': _entity_config.name|lower ~ '_template' ~ _entity_id, 'label': 'Template'|trans({}, 'admin'), 'attr': { 'class': form.template.vars.easyadmin.field.css_class }}) }}
                                            {% endset %}
                                            {% if form.template.vars.easyadmin.field.permission is not null %}
                                                {% if is_granted(form.template.vars.easyadmin.field.permission) %}
                                                    {{ row_template }}
                                                {% endif %}
                                            {% else %}
                                                {{ row_template }}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {% if field.vars.easyadmin.field.fieldName == 'image' %}
                                        {# {{ form_row(field, field_id,  { help: 'qwe' } ) }} #}

                                        {% set width_default = field.parent.children.width.vars.value ?? null %}
                                        {% set height_default = field.parent.children.height.vars.value ?? null %}

                                        {% set width = 0 %}
                                        {% set height = 0 %}

                                        {% if width_default is not null and height_default is not null %}
                                            {% set width = width_default %}
                                            {% set height = height_default %}
                                        {% endif %}

                                        {% if width > 0 and height > 0 %}
                                            <small class="form-help mt-0">
                                                {{ 'label.info_image_size'|trans({
                                                    '%width%': width,
                                                    '%height%': height,
                                                }, 'admin') }}
                                            </small>
                                        {% endif %}

                                        
                                    {% endif %}
                                    {# {{ dump(field.vars.easyadmin.field.fieldName) }} #}
                                    {# {{ dump(field.parent.children.height.vars.value) }} #}
                                    {# {{ dump(field.parent.children.height2.vars.value) }} #}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        {% else %}
            {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and (not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name)) %}
                <div class="col-{{ field.vars.easyadmin.field.columns|default('12') }} {{ field.vars.easyadmin.field.css_class|default('') }}">
                    {{ form_row(field) }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        
        {# {{ form_row(form.template) }} #}
        {{ form_row(form._token) }}

        {# <section class="content-footer bg-transparent border-0">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-footer-title">
                    
                </div>
                {{ item_actions }}
            </div>
        </section> #}

        {{ form_end(form, {'render_rest': false}) }}
    {% endblock entity_form %}

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'edit',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}

    {# {{ render( url('easyadmin', {entity: entity.name|capitalize, action: 'list', id: val.id, entity_related: easyadmin.entity.name, id_related: entity.id, editType: 'ajax'}) ) }} #}
    {% if entity.name != 'category' and entity.name != 'textblock' %}
    <div class="module-items" id="items-{{ entity.name }}{{ _entity_id }}">
        {# {{dump(url('easyadmin', {entity: entity.name|capitalize, action: 'listAjax', editType: 'ajax', entity_related: easyadmin.entity.name, id_related: entity.id, page: '1', 'filters[\'module\'][\'comparison\']' : '=', 'filters[\'module\'][\'value\'][]' : _entity_id }))}} #}
        {{ render( url('easyadmin', {entity: entity.name|capitalize, action: 'listAjax', editType: 'ajax', entity_related: easyadmin.entity.name, id_related: entity.id, page: '1', 'filters[\'module\'][\'comparison\']' : '=', 'filters[\'module\'][\'value\'][]' : _entity_id }) ) }}
    </div>
    {% endif %}

{% endblock %}




{% block body_javascript %}

<script type="text/javascript">

$(document).ready(function() {
    var parentContainer = '#items-{{ entity.name }}{{ _entity_id }}';

    $(parentContainer).delegate('.action-edit', 'click', function(e){
        e.preventDefault();
        $(parentContainer).find('.temp').remove();
        var itemRow = $(this).closest('tr');
        var elLoadId = 'items-{{ entity.name }}{{ _entity_id }}-' + $(itemRow).attr('data-id');
        var newRow = '<tr class="temp bg-white"><td colspan="100%" class="p-0"><div id="' + elLoadId + '" class="collapse"></div></td></tr>';
        $(itemRow).addClass('bg-white');
        $(itemRow).after(newRow);

            var requestEdit = $.ajax({
                url: $(this).attr('href'),
                method: 'GET',
                // data: { id : menuId },
                dataType: 'html',
                beforeSend: function() {
                    // $(parentContainer).find('.temp>td>div').html(preloader());
                    $(itemRow).siblings().removeClass('bg-white');
                    $('.temp>td>div').collapse('hide');
                }
            });

            requestEdit.done(function( msg ) {
                $(parentContainer).find('.temp>td>div').html( msg );
                // console.log(elLoadId);
                $('.temp>td>div').collapse('show');
            });

        // console.log(itemRow.attr('data-id'));
    });

    $(parentContainer).delegate('.action-new', 'click', function(e){
        e.preventDefault();
        $(parentContainer).find('.temp').remove();
        var newRow = '<tr class="temp bg-white"><td colspan="100%" class="p-0"><div class="collapse"></div></td></tr>';
        $(parentContainer).find('.datagrid>tbody').prepend(newRow);

            var requestEdit = $.ajax({
                url: $(this).attr('href'),
                method: 'GET',
                // data: { id : menuId },
                dataType: 'html',
                beforeSend: function() {
                    // $(parentContainer).find('.temp>td>div').html(preloader());
                    $(parentContainer).find('.temp').siblings().removeClass('bg-white');
                    $('.temp>td>div').collapse('hide');
                }
            });

            requestEdit.done(function( msg ) {
                $(parentContainer).find('.temp>td>div').html( msg );
                // console.log(elLoadId);
                $('.temp>td>div').collapse('show');
            });

        // console.log(itemRow.attr('data-id'));
    });

    $('.choice-template').trigger('change');

});

</script>

{% endblock %}
