{% use '@EasyAdmin/form/bootstrap_4.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme.1') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set easyadmin = form.vars.easyadmin %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}
{% set item_actions %}
<div class="global-actions">
    <a class="btn text-danger action-unlink" href="#">

        <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        <span class="label"><i class="fa fa-fw fa-trash-o"></i> <span class="btn-label">Удалить</span></span>
    </a>
    <button type="submit" class="btn btn-primary action-save">
        <span class="btn-label">
            <span class="spinner d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
            <span class="label">{{ 'action.save'|trans({}, 'admin') }}</span>
        </span>
    </button>
</div>
{% endset %}

{# {% extends _entity_config.templates.layout %} #}

{# {% block body_id 'easyadmin-new-' ~ _entity_config.name %} #}
{# {% block body_class 'new new-' ~ _entity_config.name|lower %} #}



{% block content_footer_wrapper '' %}

{% block main %}

    {% block entity_form %}

        {{ form_start(form, {'attr': { 'id': 'new-' ~ _entity_config.name|lower ~ '-form', entity_related: app.request.query.get('entity_related'), entity_field_name: app.request.query.get('entity_field_name'), id_related: app.request.query.get('id_related') }}) }}

        <section class="content-header border-0 p-0">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    {% set _default_title = 'new.page_title'|trans(_trans_parameters, 'admin') %}
                    <h1 class="title">{{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}</h1>
                </div>
                {{ item_actions }}
            </div>
        </section>

        {# {{ dump(app.request.query) }} #}
        {# {{ dump(easyadmin) }} #}

        {% set easyadmin_form_tabs = form.vars.easyadmin_form_tabs %}
        {% set easyadmin_form_groups = form.vars.easyadmin_form_groups %}

        {% set _translation_domain = easyadmin.entity.translation_domain %}
        <div class="row">
        {% for group_name, group_config in easyadmin_form_groups|filter(group_config => not group_config.form_tab or group_config.form_tab == tab_name) %}
            <div class="field-group col-{{ group_config.columns|default('12') }} {{ group_config.css_class|default('') }}">
                <fieldset>
                    {% if group_config.label|default(false) or group_config.icon|default(false) or group_config.collapsible|default(false) %}
                        <legend class="{{ group_config.icon|default(false) ? 'with-icon' }}">
                            {% if group_config.icon|default(false) %}
                                <i class="fa fa-fw fa-{{ group_config.icon }}"></i>
                            {% endif %}
                            {{ group_config.label|trans(domain = _translation_domain)|raw }}
                        </legend>

                        {% if group_config.help|default(false) %}
                            <div class="legend-help">{{ group_config.help|trans(domain = _translation_domain)|raw }}</div>
                        {% endif %}
                    {% endif %}

                    <div class="row">
                        {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and field.vars.easyadmin.form_group == group_name) %}
                            {% if not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name %}
                                <div class="col-{{ field.vars.easyadmin.field.columns|default('12') }} {{ field.vars.easyadmin.field.css_class|default('') }}">
                                    {% set field_id = {'id': _entity_config.name|lower ~ '_' ~ field.vars.easyadmin.field.fieldName ~ '__id__'} %}
                                    {# {% if field.vars.easyadmin.field.fieldName == 'description' %} #}
                                        {# {{ form_row(field) }} #}
                                        {# {{ form_row(field, {'attr': { 'class': '12345' }}) }} #}
                                        {# {{ form_row(field, {'id': 'module_description__id__'}) }} #}
                                    {# {% elseif field.vars.easyadmin.field.fieldName == 'name' and app.request.query.get('entity_field_name') is not null %} #}
                                    {% if field.vars.easyadmin.field.fieldName == 'name' and app.request.query.get('entity_field_name') is not null %}
                                        {{ form_row(field, field_id|merge({'value': app.request.query.get('entity_field_name')})) }}
                                    {% else %}
                                        {{ form_row(field, field_id) }}
                                    {% endif %}

                                    {% if field.vars.easyadmin.field.fieldName == 'position' %}
                                        {{ form_row(form.template, {'id': _entity_config.name|lower ~ '_template__id__'}) }}
                                    {% endif %}
                                    {# {{ dump(field.vars.easyadmin.field) }} #}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        {% else %}
            {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and (not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name)) %}
                <div class="col-{{ field.vars.easyadmin.field.columns|default('12') }} {{ field.vars.easyadmin.field.css_class|default('') }}">
                    {{ form_row(field) }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        
        {# {{ form_row(form.description, {'attr': { 'class': '12345' }}) }} #}

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    {% endblock entity_form %}

{% endblock %}

{% block body_javascript %}

<script type="text/javascript">

$(document).ready(function() {
    
});

</script>

{% endblock %}
