

{% block stylesheets %}
  {{ encore_entry_link_tags('slick') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('slick') }}
{% endblock %}

<div class="row">
  <div class="container py-5">

    {# <code>[default template for product content]</code> #}

    {# {{ dump(module) }} #}
    {# {{ dump(items) }} #}
    {# {{ dump(slug_router) }} #}

    {% if module.title %}
    <h3 class="px-3 text-center mb-3">{{ module.title }}</h3>
    {% endif %}

    {% if module.description %}
    <div class="px-3 mb-3">{{ module.description|raw }}</div>
    {% endif %}

    {% set runtimeConfig = [module.width2, module.height2] %}

    {% set itemsId = 'carousel' ~ module.name|capitalize ~ module.id %}

    <div id="{{ itemsId }}" class="row slick-slider">
      {# <div id="{{ itemsId }}" class="d-flex overflow-hidden slick-slider"> #}
        {% for item in items %}
          {% set href = urlizer.url([item.slug]) %}
          <div class="slick-slide qwe p-2 justify-content-center align-items-center">
            <div class="image text-center">
              <a href="{{ href }}">
                <img src="{{ image_filter(item.image, 'product', runtimeConfig) }}" class="img-fluid border rounded shadow-sm" alt="{{ item.title }}">
              </a>
            </div>
            <h2 class="h5 font-weight-normal text-center mt-3">
              <span class="w-100"><a href="{{ href }}">{{ item.title }}</a></span> 
            </h2>
          </div>
        {% endfor %}
      {# </div> #}
    </div>

    <script type="text/javascript">
      $(function(){
        $('#{{ itemsId }}').slick({
          autoplay: true,
          autoplaySpeed: 6000,
          dots: false,
          arrows: true,
          prevArrow: '<button type="button" class="slick-prev text-dark"></button>',
          nextArrow: '<button type="button" class="slick-next text-dark"></button>',
          infinite: false,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 1,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });
      });
    </script>

{# 
    <div class="row">

      {% for item in items %}
      {% set href = urlizer.url([item.slug]) %}
      <div class="col-3 mb-4">
        <div class="image text-center w-100">
          <a href="{{ href }}">
            <img src="{{ asset(media_images ~ '/' ~ item.image) | default_image | imagine_filter('product', runtimeConfig) }}" class="img-fluid border rounded shadow-sm" alt="{{ item.title }}">
          </a>
        </div>
        <h2 class="h5 font-weight-normal d-flex align-items-center mt-3">
          <span class="w-100"><a href="{{ href }}">{{ item.title }}</a></span> 
        </h2>
      </div>
      {% endfor %}

    </div>
 #}
  </div>
</div>

