{% if module.background %}
  {% set bgImage = image_filter(module.background, 'section_background') %}

  <style type="text/css">
    #module{{ module.id }} {
      background-image: url({{ bgImage }});
    }
  </style>
{% endif %}

<div class="row" {% if module.background %}id="module{{ module.id }}"{% endif %}>
  <div class="container py-5">

    {# <code>[default template for textblock content]</code> #}
    
    {# {{ dump(module) }} #}

    <div class="row">

      {% if module.image %}
        {% set runtimeConfig = [module.width, module.height] %}
      <div class="col-sm-3">
        <img src="{{ image_filter(module.image, 'textblock', runtimeConfig) }}" class="d-block w-100 rounded border shadow-sm" alt="{{ module.title }}">
      </div>
      {% endif %}

      {% if module.title or module.description %}
        {% set class = 'col-12' %}
        {% if module.image %}
          {% set class = 'col-sm-9' %}
        {% endif %}
      <div class="{{ class }}">
        {% if module.title %}
          <h3>{{ module.title }}</h3>
        {% endif %}

        {% if module.description %}
        <div>
          {{ module.description|raw }}
        </div>
        {% endif %}
      </div>
      {% endif %}
      
    </div>

  </div>
</div>