{% extends 'base.html.twig' %}

{% use 'default/_meta.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">

        <h1>{{ 'error.page.500'|trans }}</h1>

        <p>{{ 'error.page.500_message'|trans }}</p>

        <a href="{{ path('index') }}" class="btn btn-light border">{{ 'label.back_to_home'|trans }}</a>

      </div>
    </div>
  </div>
</section>
{% endblock %}
