{% set entity = '' %}
{% set id = '' %}
{% if app.request.query.get('entity_related') is defined and app.request.query.get('entity_related') is not null and app.request.query.get('id_related') is defined and app.request.query.get('id_related') is not null %}
    {% set entity = app.request.query.get('entity_related') %}
    {% set id = app.request.query.get('id_related') %}
{% endif %}
{% set uniqId = entity ~ id %}
<div id="modal-filters{{ uniqId }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary" id="modal-clear-button{{ uniqId }}" formtarget="_self">
                    <i class="fa fa-close"></i> {{ 'filter.button.clear'|trans(domain = 'admin') }}
                </button>
                <h5 class="modal-title">
                    <i class="fa fa-filter fa-fw"></i> {{ 'filter.title'|trans(domain = 'admin') }}
                </h5>
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary" id="modal-apply-button{{ uniqId }}" formtarget="_self">
                    <i class="fa fa-check"></i> {{ 'filter.button.apply'|trans(domain = 'admin') }}
                </button>
            </div>
            <div class="modal-body p-0">
                {# The filters form will be loaded via AJAX for better performance #}
                {# See @EasyAdmin/default/filters.html.twig template #}
            </div>
        </div>
    </div>
</div>

    
{# {{dump(app.request.query)}} #}
<script>

    const filterModal{{ uniqId }} = document.querySelector('#modal-filters{{ uniqId }}');

    document.querySelector('#modal-clear-button{{ uniqId }}').addEventListener('click', function() {
        filterModal{{ uniqId }}.querySelectorAll('.filter-field').forEach(filterField => {
            filterField.remove();
        });

        filterModal{{ uniqId }}.querySelector('form').submit();
    });

    document.querySelector('#modal-apply-button{{ uniqId }}').addEventListener('click', function() {
        filterModal{{ uniqId }}.querySelectorAll('.filter-checkbox:not(:checked)').forEach(notAppliedFilter => {
            notAppliedFilter.closest('.filter-field').remove();
        });
        filterModal{{ uniqId }}.querySelector('form').submit();
    });
</script>
