{{
    form(unlink_form, {
        action: unlink_form.vars.action ~ ('?' in unlink_form.vars.action ? '&' : '?') ~ 'referer=' ~ referer|url_encode,
        method: 'UNLINK',
        attr: { id: 'unlink-form', style: 'display: none' }
    })
}}

<div id="modal-unlink" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'delete_modal.title'|trans(_trans_parameters, 'admin') }}</h4>
                <p>{{ 'delete_modal.content'|trans(_trans_parameters, 'admin') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">{{ 'action.cancel'|trans({}, 'admin') }}</span>
                </button>

                {% if easyadmin_action_is_enabled(view, 'unlink', _entity_config.name) %}
                    {% set _delete_action = easyadmin_get_action(view, 'unlink', _entity_config.name) %}
                    <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-unlink-button" formtarget="{{ _delete_action.target }}">
                        {% if _delete_action.icon %}<i class="fa fa-fw fa-{{ _delete_action.icon }}"></i>{% endif %}
                        <span class="btn-label">{{ 'delete_modal.action'|trans(_trans_parameters, 'admin') }}</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    // $('#modal-unlink').modal('show');
});
</script>