{% if module.background %}
  {% set bgImage = asset(media_images ~ '/' ~ module.background) | default_image | imagine_filter('section_background') %}

  <style type="text/css">
    #module{{ module.id }} {
      background-image: url({{ bgImage }});
    }
  </style>
{% endif %}

<div class="row" {% if module.background %}id="module{{ module.id }}"{% endif %}>
  <div class="container pb-5">

    {# <code>[default template for fileblock content]</code> #}
    
    {# {{ dump(module) }} #}

    {% set items = module.fileblock %}

    <div class="row">

      {% if module.image %}
        {% set runtimeConfig = [module.width, module.height] %}
      <div class="col-sm-3">
        <img src="{{ image_filter(module.image, 'textblock', runtimeConfig) }}" class="d-block w-100 rounded border shadow-sm" alt="{{ module.title }}">
      </div>
      {% endif %}

      {% if module.title or module.description %}
        {% set class = 'col-12' %}
        {% if module.image %}
          {% set class = 'col-sm-9' %}
        {% endif %}
      <div class="{{ class }}">
        {% if module.title %}
          <h3>{{ module.title }}</h3>
        {% endif %}

        {% if module.description %}
        <div>
          {{ module.description|raw }}
        </div>
        {% endif %}
      </div>
      {% endif %}
      
    </div>

    <div class="row">
      {% for item in items %}
        <div class="col-sm-3">
          
          
            {# <a href="{{ item.file }}">{% if item.title %}{{ item.title }}{% else %}{% endif %}</a> #}
            <a href="{{ asset(media_files ~ '/' ~ item.file) }}"><i class="fa fa-paperclip"></i> {% if item.title %}{{ item.title }}{% else %}{{ item.file }}{% endif %}</a>
          
        </div>
        {% endfor %}
    </div>

  </div>
</div>