{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('photoswipe') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('photoswipe') }}
  <script src="https://www.google.com/recaptcha/api.js?render={{ api_key.recaptcha_site }}"></script>
{% endblock %}

{% use 'default/_meta.html.twig' %}

{% use 'default/_title.html.twig' %}

{% use 'default/_breadcrumb.html.twig' %}

{% block body %}
<section class="position-relative">
  <div class="container py-4">

    <div class="row">
      <div class="col-4">
        {% set thumbnail_class = 'thumbnails' %}
        <ul class="nav {{ thumbnail_class }}">
          <li class="nav-item text-center col-sm-12 mb-2">
            <a class="thumbnail" href="{{ image_filter(item.image, 'product_popup') }}" data-width="{{ info.size.width_product_popup ?? null }}" data-height="{{ info.size.height_product_popup ?? null }}" data-caption="{{ item.title }}">
              <img src="{{ image_filter(item.image, 'product_show') }}" class="img-fluid border rounded" alt="{{ item.title }}">
            </a>
          </li>
          {% set i = 1 %}
          {% for image in item.images %}
          <li class="nav-item text-center col-sm-3 mb-2">
            <a class="thumbnail" href="{{ image_filter(image.image, 'product_popup') }}" data-width="{{ info.size.width_product_popup ?? null }}" data-height="{{ info.size.height_product_popup ?? null }}" data-caption="{{ image.title ?? item.title }}">
              <img src="{{ image_filter(image.image, 'product_show') }}" class="img-fluid border rounded" alt="{{ image.title }}">
            </a>
          </li>
            {% set i = i + 1 %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-2">{{ item.title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ item.summary }}
          </div>
        </div>
        <div class="row align-items-center border-top mt-3">
          <div class="col-6">
            <b>Price:</b> {{ item.price|number_format(2, '.', ',') }} $
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-sm px-4 my-3" id="order-btn" data-toggle="modal" data-target="#order-modal">Заказать</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-top pt-3">
      <div class="col-12">
        {% autoescape %}
          {{ item.description|raw }}
        {% endautoescape %}
        
      </div>
    </div>

    {% include 'default/includes/_product.html.twig' with { 'class' : thumbnail_class } %}

    <!-- Modal -->
    <div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="order-modal-Label" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body">

            {% set count = 0 %}
            {% set success = false %}
            {% for label, messages in app.flashes %}
              {% for message in messages %}
                <div class="alert alert-{{ label }} m-0" role="alert">
                  {{ message|trans }}
                </div>
                {% set count = count + 1 %}
                {% if label == 'success' %}
                  {% set success = true %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% if not success %}
              {% set form_id = 'order' %}

              {{ form_start(form, {'attr': { 'id': form_id }}) }}

                {{ form_row(form.quantity) }}

                {{ form_row(form.email) }}

                {{ form_row(form.message) }}

                {{ form_row(form.submit, { attr: { class: 'btn btn-primary mx-auto d-block px-5' } }) }}



                <style type="text/css">
                  .form_terms { 
                    font-size: 0.625rem !important;
                  }
                  .grecaptcha-badge {
                    visibility: hidden !important;
                  }
                </style>
                <div class="form-group form_terms text-center text-muted line-height-sm m-0">
                    {% set link = 'label.order'|trans %}
                    {% set link2 = '<a href="' ~ page_terms.slug ~ '" target="_blank">' ~ page_terms.title ~ '</a>' %}
                    {{ 'label.form.terms'|trans({ '%link%': link, '%link2%': link2 })|raw }}
                </div>
                <div class="form-group form_terms text-center text-muted line-height-sm m-0">
                    {% set link = '<a href="https://policies.google.com/privacy" target="_blank">' ~ 'label.form.recaptcha.privacy'|trans ~ '</a>' %}
                    {% set link2 = '<a href="https://policies.google.com/terms" target="_blank">' ~ 'label.form.recaptcha.terms'|trans ~ '</a>' %}
                    {{ 'label.form.recaptcha'|trans({ '%link%': link, '%link2%': link2 })|raw }}
                </div>
                <script>

                  const form = document.getElementById('{{ form_id }}');
                  form.addEventListener('submit', formSubmit);

                  function formSubmit(event) {
                    grecaptcha.ready(function() {
                      {% if api_key.recaptcha_site %}
                      grecaptcha.execute('{{ api_key.recaptcha_site }}', { action: '{{ form_id }}' }).then(function(token) {
                        $('#{{ form_id }}').prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
                        form.submit();
                      });
                      {% else %}
                        $('#{{ form_id }}').parent().prepend('<div class="alert alert-danger" role="alert">{{ 'error.invalid.key'|trans }}</div>');
                      {% endif %}
                    });

                    event.preventDefault();
                  }

                  
                </script>

              {{ form_end(form) }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if count > 0 or form.vars.submitted %}
    <script type="text/javascript">
      $(function(){
        $('#order-btn').trigger('click');
      });
    </script>
    {% endif %}

  </div>
</section>
{% endblock %}