{% extends 'admin/layout.html.twig' %}
{% set easyadmin = form.vars.easyadmin %}
{# {% form_theme form '@EasyAdmin/form/bootstrap_4.html.twig' %} #}
{# {% use '@EasyAdmin/form/bootstrap_4.html.twig' %} #}
{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set easyadmin = form.vars.easyadmin %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}
                            
{% set easyadmin_form_tabs = form.vars.easyadmin_form_tabs %}
{% set easyadmin_form_groups = form.vars.easyadmin_form_groups %}

{% set _translation_domain = easyadmin.entity.translation_domain %}

{% block main %}
    {# {{request}} #}
    {# {{ dump(pageModules) }} #}
    {# {{ dump(url('easyadmin', {entity: 'Module', action: 'edit', id: 9})) }} #}
        
    {# {{dump(entity)}} #}
    {# {{dump(easyadmin.entity.name)}} #}
    {# {{dump(form)}} #}
    {# {{dump(form_theme)}} #}

    <div class="row">
        <div class="col-12">
            <div class="nav-tabs-custom form-tabs out-form-tabs" id="out-form-tabs">
                <ul class="nav nav-tabs nav-parent-tabs">
                    {% for tab_name, tab_config in easyadmin_form_tabs %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab_config.active %}active{% endif %}" href="#{{ tab_config['id'] ~ '_parent' }}" id="{{ tab_config['id'] ~ '_parent' }}-tab" data-toggle="tab">
                                {%- if tab_config.icon|default(false) -%}
                                    <i class="fa fa-fw fa-{{ tab_config.icon }}"></i>
                                {%- endif -%}
                                {{ tab_config['label']|trans(domain = _translation_domain) }}
                                {%- if tab_config.errors > 0 -%}
                                    <span class="badge badge-danger" title="{{ 'form.tab.error_badge_title'|transchoice(tab_config.errors, {}, 'admin') }}">
                                        {{- tab_config.errors -}}
                                    </span>
                                {%- endif -%}
                            </a>
                        </li>
                    {% endfor %}
                    {# <li class="nav-item d-none">
                        <a class="nav-link nav-module" href="#_module_element_13" id="_module_element_13-tab" data-toggle="tab" data-module="slider" data-module-name="slider">
                            <i class="fa fa-fw fa-cube"></i> Slider
                        </a>
                    </li> #}
                    {% for key,val in pageModules %}
                    <li class="nav-item">
                        <a 
                            id="_module_element_1{{ val.id }}-tab" 
                            class="nav-link nav-module {# {% if key == 0 %}active{% endif %} #}" 
                            href="#_module_element_1{{ val.id }}" 
                            data-toggle="tab" 
                            data-name="{{ val.name }}" 
                            data-id="{{ val.id }}" 
                            data-title="{{ modules[val.name]|trans({}, 'admin') }}" 
                            data-url="{{ url('easyadmin', {entity: 'Module', action: 'edit', id: val.id, entity_related: easyadmin.entity.name, id_related: entity.id, editType: 'ajax'}) }}"
                        >
                            {# <i class="fa fa-fw fa-cube"></i> #} {{ modules[val.name]|trans({}, 'admin') }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus m-0"></i>
                        </a>
                        <div class="dropdown-menu {# dropdown-menu-right #} shadow-sm" style="width: 480px;">
                            <h6 class="dropdown-header">{{ 'label.module.created'|trans({}, 'admin') }}</h6>
                            <div class="row">
                                {% for rows in modules|batch(5) %}
                                <div class="col-6">
                                    {% for key,val in rows %}
                                    <a class="dropdown-item" href="{{ path('easyadmin', { entity: 'Module', action: 'new', entity_related: easyadmin.entity.name, id_related: entity.id, entity_field_name: key, editType: 'ajax' }) }}" data-name="{{ key }}" data-id="0" data-title="{{ val|trans({}, 'admin') }}">
                                        <code class="d-block code bg-light border px-2 py-1">{{ val|trans({}, 'admin') }}</code>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">{{ 'label.module.active'|trans({}, 'admin') }}</h6>
                            {% for key,val in activeModules if val.name is not empty %}
                                {% set title = val.title %}
                                {% if val.title is empty %}
                                    {% set title = '<i>' ~ 'label.wo_title'|trans({}, 'admin')|lower ~ ' (#' ~ val.id ~ ')</i>' %}
                                {% endif %}
                            <a class="dropdown-item d-flex align-items-center" href="{{ path('easyadmin', { entity: 'Module', action: 'edit', id: val.id, entity_related: easyadmin.entity.name, id_related: entity.id, entity_field_name: val.name, editType: 'ajax' }) }}" data-name="{{ val.name }}" data-id="{{ val.id }}" data-title="{{ modules[val.name]|trans({}, 'admin') }}">
                                <div class="col-7"><span class="d-block">{{ title|raw }}</span></div>
                                <div class="col-5"><code class="d-block text-dark bg-light border px-2 py-1">{{ modules[val.name]|trans({}, 'admin') }}</code></div>
                                
                                    
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <div class="tab-content">
                    {% block entity_form %}
                        {{ form_start(form) }}
                            {% for tab_name, tab_config in easyadmin_form_tabs %}
                            <div id="{{ tab_config['id'] ~ '_parent' }}" class="tab-pane fade {% if tab_config.active %}show active{% endif %}" >
                                {% if tab_config['help']|default(false) %}
                                    <div class="content-header-help tab-help">
                                        {{ tab_config['help']|trans(domain = _translation_domain)|raw }}
                                    </div>
                                {% endif %}

                                <div class="row">
                                    {{ block('easyadmin_widget_groups') }}
                                </div>
                                
                            </div>
                            {% endfor %}
                        {{ form_end(form) }}
                    {% endblock entity_form %}
                    
                    {% for key,val in pageModules %}
                    <div 
                        id="_module_element_1{{ val.id }}" 
                        class="tab-pane fade tab-module {# {% if key == 0 %}show active{% endif %} #}" 
                        {# data-url="{{ url('easyadmin', {entity: 'Module', action: 'edit', id: val.id, entity_related: easyadmin.entity.name, id_related: entity.id, editType: 'ajax'}) }}" #}
                    >
                        {# {{ render(controller('App\\Controller\\Admin\\ModuleController::editAction', {
                          'id': val.id,
                        })) }} #}

                        {# {{ render( url('easyadmin', {entity: 'Module', action: 'edit', id: val.id, entity_related: easyadmin.entity.name, id_related: entity.id, editType: 'ajax'}) ) }} #}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block easyadmin_widget_groups %}
    {% for group_name, group_config in easyadmin_form_groups|filter(group_config => not group_config.form_tab or group_config.form_tab == tab_name) %}
        <div class="field-group col-{{ group_config.columns|default('12') }} {{ group_config.css_class|default('') }}">
            <fieldset>
                {% if group_config.label|default(false) or group_config.icon|default(false) or group_config.collapsible|default(false) %}
                    <legend class="{{ group_config.icon|default(false) ? 'with-icon' }}">
                        {% if group_config.icon|default(false) %}
                            <i class="fa fa-fw fa-{{ group_config.icon }}"></i>
                        {% endif %}
                        {{ group_config.label|trans(domain = _translation_domain)|raw }}
                    </legend>

                    {% if group_config.help|default(false) %}
                        <div class="legend-help">{{ group_config.help|trans(domain = _translation_domain)|raw }}</div>
                    {% endif %}
                {% endif %}

                <div class="row">
                    {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and field.vars.easyadmin.form_group == group_name) %}
                        {% if not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name %}
                            <div class="col-{{ field.vars.easyadmin.field.columns|default('12') }} {{ field.vars.easyadmin.field.css_class|default('') }}">
                                {% if field.vars.easyadmin.field.fieldName == 'slug' and field.vars.value is empty %}
                                    {{ form_row(field, { attr: { 'disabled': 'disabled' } }) }}
                                {% else %}
                                {{ form_row(field) }}
                                {% endif %}
                                {% if field.vars.easyadmin.field.fieldName == 'sort' %}
                                    {% if form.controller is defined %}
                                        {% set row_controller %}
                                            {{ form_row(form.controller, { 'label': 'Controller'|trans({}, 'admin') }) }}
                                        {% endset %}
                                        {% if form.controller.vars.easyadmin.field.permission is not null %}
                                            {% if is_granted(form.controller.vars.easyadmin.field.permission) %}
                                                {{ row_controller }}
                                            {% endif %}
                                        {% else %}
                                            {{ row_controller }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {# {{ dump(field.vars.easyadmin.field.fieldName) }} #}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
        </div>
    {% else %}
        {% for field in form|filter(field => 'hidden' not in field.vars.block_prefixes and (not field.vars.easyadmin.form_tab or field.vars.easyadmin.form_tab == tab_name)) %}
            <div class="col-{{ field.vars.easyadmin.field.columns|default('12') }} {{ field.vars.easyadmin.field.css_class|default('') }}">
                {{ form_row(field) }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock easyadmin_widget_groups %}

{% block body_javascript %}
    {{ parent() }}
    
    <script type="text/javascript">
    $(document).ready(function() {
        var fadeSpeed = 200;
        var editHref;
        var tabId = 1;
        var html = '';
        var $formsWrapper = $('#out-form-tabs');

        // load module if clicked
        $formsWrapper.find('.nav-module').one('click', function(e){
            // console.log($(this).data('url'));
            var tabContent = $(this).attr('href');
            var url = $(this).data('url');

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                // cache: false,
                // contentType: false,
                // processData: false,
                beforeSend: function() {
                    $(tabContent).html(preloader());
                },
                success: function (data) {
                    $(tabContent).html(data);
                },
                error: function (xhr, status) {
                    console.log('fail');
                },
                complete: function (xhr, status) {
                    
                }
            });

        });

        // edit for module and module items, part of delete for module items
        $formsWrapper.delegate('.tab-module form', 'submit', function(e){
            e.preventDefault();

            var $form = $(this);
            var target = $( e.target );
            var submittedBtn = $(this).find('[type="submit"]:focus');
            var loading = $(submittedBtn).find('.spinner');
            var containerSelectedItem = $('#content-edit-ajax-item');
            var url = '?entity=' + $form.attr('data-entity') + '&action=' + $form.attr('data-view') + '&editType=ajax';

            if ($form.attr('data-entity-id') !== undefined && $form.attr('data-entity-id') !== '') {
                url += '&id=' + $form.attr('data-entity-id');
            }

            if ($form.attr('entity_related') !== undefined && $form.attr('entity_related') !== '') {
                url += '&entity_related=' + $form.attr('entity_related');
            }

            if ($form.attr('entity_field_name') !== undefined && $form.attr('entity_field_name') !== '') {
                url += '&entity_field_name=' + $form.attr('entity_field_name');
            }

            if ($form.attr('id_related') !== undefined && $form.attr('id_related') !== '') {
                url += '&id_related=' + $form.attr('id_related');
            }

            if ($form.attr('name') !== undefined && ($form.attr('name') === 'delete_form' || $form.attr('name') === 'batch_form')) {
                var url = $form.attr('action');
            }

            var form_data = new FormData($form[0]);

            if ($form.attr('name') !== undefined && $form.attr('name') === 'batch_form') {
                form_data.append(submittedBtn.attr('name'), submittedBtn.val());
            }

            $.ajax({
                type: $form.attr('method'),
                url: url,
                // method: 'POST',
                // dataType: 'json',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(loading).removeClass('d-none');
                },
            }).done(function(data) {
                console.log('success');
                // console.log(data);

                // load edit page after create for module
                if ($form.attr('data-entity') === 'Module' && $form.attr('data-view') === 'new') {
                    $('#_module_element_1__id__-tab').attr('href', '#' + $('#_module_element_1__id__').attr('id').replace('__id__', data.tab.entity_id));
                    $('#_module_element_1__id__-tab').attr('id', $('#_module_element_1__id__-tab').attr('id').replace('__id__', data.tab.entity_id));
                    // $('#_module_element_1__id__-tab').attr('href', $('#_module_element_1__id__-tab').attr('href').replace('__id__', data.tab.entity_id));
                    $('#_module_element_1__id__').attr('id', $('#_module_element_1__id__').attr('id').replace('__id__', data.tab.entity_id));

                    if ($('#_module_element_1' + data.tab.entity_id).length) {
                        // $('#_module_element_1' + data.tab.entity_id).html(data.tab.html);
                        url = '?entity=' + $form.attr('data-entity') + '&action=edit&id=' + data.tab.entity_id + '&entity_related=' + $form.attr('entity_related') + '&id_related=' + $form.attr('id_related') + '&editType=ajax';

                        var $requestAdd = $.ajax({
                                url: url,
                                method: 'GET',
                                // data: { id : menuId },
                                dataType: 'html',
                                beforeSend: function() {
                                    $('#_module_element_1' + data.tab.entity_id).html(preloader());
                                }
                            });

                        $requestAdd.done(function( msg ) {
                            $('#_module_element_1' + data.tab.entity_id).html(msg);
                        });
                    }
                }

                // delete actions for module items
                if (($form.attr('name') === 'delete_form' || $form.attr('name') === 'batch_form') && data.entity_ids !== undefined && data.success === true) {
                    var $content = $form.closest('.module-items');
                    var itemsContainer = $content.find('.datagrid>tbody');
                    // console.log(itemsContainer);
                    // console.log(data.entity_ids);
                    $.each(data.entity_ids, function(key,value) {
                        var itemRow = $(itemsContainer).find('[data-id=\'' + value + '\']');
                        // console.log(key + ' - ' + value);
                        // console.log(value);
                        $(itemRow).fadeOut(fadeSpeed, function() { $(this).remove(); });
                    });

                    $content.find('.global-actions').show();
                    $content.find('.batch-actions').hide();
                    $content.find('table').removeClass('table-batch');
                    $content.find('.temp').remove();
                }

                // edit action for module items
                if (data.fields !== undefined) {
                    $.each(data.fields, function(key,value) {
                        if (key.length > 0) {
                            $.each(value, function(k,v) {
                                var fieldName = $form.find($('[name*=\'' + key + '['+v.field_name+']\''));
                                var fieldContainer = $(fieldName[0]).closest('.form-group').parent();

                                $(fieldContainer).html(preloader());

                                setTimeout(function() {
                                    $(fieldContainer).html(v.html);
                                }, fadeSpeed);
                            });
                        }
                    });
                }

                // new action succes for module items
                if (data.rows !== undefined) {
                    $.each(data.rows, function(key,value) {
                        if (key.length > 0) {
                            $.each(value, function(k,v) {
                                var putContainer = $('.temp');

                                if (v.entity_id === undefined) {
                                    var putContainer = $('.temp').parent();
                                    $('.temp').remove();
                                    
                                    setTimeout(function() {
                                        $(putContainer).prepend(v.html);
                                    }, fadeSpeed);
                                } else {
                                    $(putContainer).parent().find('[data-id=\'' + v.entity_id + '\']').replaceWith(v.html);
                                }
                                
                            });
                        }
                    });
                }

                // new action error for module items
                if ($form.attr('data-view') === 'new' && ($form.attr('entity_related') !== undefined && $form.attr('entity_related') === 'Module')) {
                    setTimeout(function() {
                        $collapse = $form.parent();
                        $collapse.html(data);
                    }, fadeSpeed);
                }
                
                $(loading).addClass('d-none');

            }).fail(function() {
                console.log('fail');
            });

        });

        // part of delete for module items
        $formsWrapper.delegate('.tab-module .action-delete', 'click', function(e){
            e.preventDefault();

            var $this = $(this);
            // console.log($this.attr('href'));

            var parent = '#' + $(this).parents('.module-items').attr('id');
            var parent_append = '.form-horizontal';
            if ($(this).parents('.temp').length) {
                parent = $(parent).find('.temp');
                parent_append = '.collapse';
            }

            const id = $(this).parents('tr').first().data('id');
            const modalDelete = $(parent).find(parent_append + '>#modal-delete');
            const modalDeleteBtn = $(parent).find(parent_append + ' #modal-delete-button');
            // const deleteForm = $(this).closest('.module-items').find('#delete-form');

            $(modalDelete).modal({ backdrop: true, keyboard: true })
                .off('click', '#modal-delete-button')
                .on('click', '#modal-delete-button', function () {
                    let deleteForm = $(parent).find(parent_append + '>#delete-form');
                    const oldAction = deleteForm.attr('action');
                    deleteForm.attr('action', deleteForm.attr('action').replace('__id__', id));
                    deleteForm.trigger('submit');
                    deleteForm.attr('action', oldAction);
                });

        });

        // new for module
        $formsWrapper.delegate('.nav-tabs .dropdown-menu .dropdown-item', 'click', function(e){
            e.preventDefault();

            var $this = $(this);
            var moduleId = $this.data('id');
            var moduleName = $this.data('name');
            var moduleTitle = $this.data('title');
            var html = '';

            // switch to existed and linked module
            if ($('#_module_element_1' + $this.data('id') + '-tab').length) {
                $formsWrapper.find('#_module_element_1' + $this.data('id') + '-tab').trigger('click');
                return;
            }

            // prevent new tabs if it exists, for escape duplicate tab ids
            if ($('#_module_element_1__id__-tab').length) {
                $formsWrapper.find('#_module_element_1__id__-tab').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                return;
            }

            // start for create new module
            $formsWrapper.children('.nav-tabs').find('.nav-item .active').removeClass('active');

            // add new module tab
            html  = '<li class="nav-item">';
            html += '   <a class="nav-link nav-module" href="#_module_element_1__id__" id="_module_element_1__id__-tab" data-toggle="tab" data-name="' + moduleName + '" data-id="' + moduleId + '" data-title="' + moduleTitle + '">';
            html +=         moduleTitle;
            html += '   </a>';
            html += '</li>';

            $formsWrapper.children('.nav-tabs').children('.dropdown').before(html);

            // add new module tab content
            html  = '<div id="_module_element_1__id__" class="tab-pane fade tab-module"></div>';

            $formsWrapper.children('.tab-content').append(html);

            var $requestAdd = $.ajax({
                    url: $this.attr('href'),
                    method: 'GET',
                    // data: { id : menuId },
                    dataType: 'html',
                    beforeSend: function() {
                        $('#_module_element_1__id__').html(preloader());
                    }
                });

            $requestAdd.done(function( msg ) {
                $('#_module_element_1__id__').html(msg);
            });

            $formsWrapper.find('#_module_element_1__id__-tab').trigger('click');

        });

        $formsWrapper.delegate('.tab-module .action-unlink', 'click', function(e) {
            e.preventDefault();

            var $this = $(this);

            if ($this.attr('href') === '#') {
                var tabId = $(this).parents('.tab-module.active').attr('id');
                $('#' + tabId).remove();
                $('#' + tabId + '-tab').remove();

                $formsWrapper.children('.nav-tabs').find('li:first a').trigger('click');

                return;
            }

            $.ajax({
                dataType: "json",
                url: $this.attr('href'),
                beforeSend: function() {
                    $this.find('.spinner').removeClass('d-none');
                },
            }).done(function(data) {
                console.log(data['success']);
                
                if (data['success']) {
                    $this.find('.spinner').addClass('d-none');


                    $('#_module_element_1' + $this.attr('data-entity-id')).remove();
                    $formsWrapper.find('.nav .nav-item:first a').trigger('click');
                    $('#_module_element_1' + $this.attr('data-entity-id') + '-tab').remove();
                }

            }).fail(function() {
                console.log('fail');
            });

            // console.log($this.attr('href'));
        });

        $formsWrapper.delegate('#_module_element_0 .action-delete', 'click', function(e){
            e.preventDefault();

            $('#modal-delete').modal({ backdrop: true, keyboard: true })
                .off('click', '#modal-delete-button')
                .on('click', '#modal-delete-button', function () {
                    $('#delete-form').trigger('submit');
                });
        });

        // add class depends on template
        $formsWrapper.delegate('.choice-template', 'change', function(e){
            e.preventDefault();

            // console.log($(this).val());

            $(this).closest('.tab-module').removeClass(function (index, className) {
                return (className.match (/\bmodule-\S+/g) || []).join(' ');
            });

            $(this).closest('.tab-module').addClass('module-' + $(this).val());
        });


        $formsWrapper.delegate('.nav-parent-tabs .nav-item:not(.dropdown) .nav-link', 'click', function(e){
            // console.log($(this));
            if ($(this).hasClass('nav-module')) {
                $('.out-form-tabs>.tab-content>form>.tab-pane').removeClass('show').removeClass('active');
                $('.out-form-tabs>.tab-content>form>.content-footer').addClass('d-none');
            } else {
                $('.out-form-tabs>.tab-content>.tab-pane').removeClass('show').removeClass('active');
                $('.out-form-tabs>.tab-content>form>.content-footer').removeClass('d-none');
            }
        });

        $formsWrapper.delegate('.nav-parent-tabs .nav-item.dropdown .dropdown-item', 'click', function(e){
            $('.out-form-tabs>.tab-content>form>.tab-pane,.out-form-tabs>.tab-content>.tab-pane:not(:last-child)').removeClass('show').removeClass('active');
        });


    });

    function preloader() {
        var html = '';
        html += '<div class="text-center p-5">';
        html += '   <div class="spinner-border spinner-border-sm text-primary" role="status">';
        html += '       <span class="sr-only">Loading...</span>';
        html += '   </div>';
        html += '</div>';

        return html;
    }

    function preloader2(color) {
        var html = '';
        html += '<div class="text-center">';
        html += '   <div class="spinner-border spinner-border-sm '+color+'" role="status">';
        html += '       <span class="sr-only">Loading...</span>';
        html += '   </div>';
        html += '</div>';

        return html;
    }


    </script>
{% endblock %}