{% extends 'admin/layout.html.twig' %}

{% block main %}
    {# {{request}} #}
    {# {{asd}} #}

    {% block entity_form %}

    {{ form_start(form) }}
    <div class="row">

    	<div class="col-12">
    		{{ form_row(form.title) }}
    	</div>
    	<div class="col-12">
    		{{ form_row(form.description) }}
    	</div>

    </div>
    {{ form_end(form) }}

    {% endblock entity_form %}



    

<script type="text/javascript">
$(document).ready(function(){



});
</script>

{% endblock %}
